[2016-07-29 18:05] Revell1on opened #550 "System.NullReferenceException right after map has been opened"
`System.NullReferenceException was unhandled
  HResult=-2147467261
  Message=Object reference not set to an instance of an object.
  Source=PokemonGo.RocketAPI.Window
  StackTrace:
       at PokemonGo.RocketAPI.Window.MapForm.tmrUpdate_Tick(Object sender, EventArgs e) in D:\tmp\Pokemon-Go-Rocket-API-master\PokemonBot\PokemonGo\RocketAPI\Window\MapForm.cs:line 53
       at System.Windows.Forms.Time

[2016-07-29 18:08] joshwegener commented on #528
I have the same issue.... Memory size issue here:

picbox.Image = Image.FromFile(location);

[2016-07-29 18:10] ayalfishey opened #551 "[Suggestion] Show iv in app"
Rename pokemon to "[pokemon name]_[iv%]" then the player can see in game how good his current pokemon are

[2016-07-29 18:16] DarkenedMatter commented on #551
You can already see it?

[2016-07-29 18:31] muchiha opened #552 ""Logging in" having Null Reference issues"
could you documentate the login procedures?

[2016-07-29 18:41] soshimozi commented on #547
DS is basing his off the same base as Ferox so the functionality of the client is actually behind Ferox's.  As for authenticating, it sure does require password for both Google and PTC now.  In fact the Client for Ferox uses the same exact ISettings interface.  Either DS forked from something that was a derivative of Ferox (no fork info so DS started from scratch probably with a way old version of

[2016-07-29 18:53] #549 closed, assigned to nobody

[2016-07-29 18:55] Revell1on commented on #552
you need to enter your login and password in settings file in order to login properly.
App.config
`
    <add key="Email" value="email" />
`
`
    <add key="Password" value="password" />
`

[2016-07-29 19:04] GrumpyOet commented on #534
It's just à idea

[2016-07-29 19:08] JackieTseng opened #554 "2 Problems"
1. I found that the script will get items at most amount of 250 from PokéStops. However, the capacity of my bag has been expanded to 500. I cant find the code to fix this.
2. Using Google account to login, I will meet `Null Refference - Restarting` problem half an hour. And it cannot restart until I close and restart it by myself which means I should restart the script half an hour. How can I fix

[2016-07-29 19:28] martionhotmail commented on #551
replace line 99 (pokeUi.cs) to

 listViewItem.Text = string.Format("{0}\n{1} CP {2} % IV", pokemon.PokemonId, pokemon.Cp, currIv);

[2016-07-29 19:35] ghost commented on #511
How many pokemon do you have? If you reach the maximum, without auto grinding, it will just throw an exception (cant remember which one, atm)

[2016-07-29 19:38] muchiha commented on #552
thanks found out that having 2 step authentication causes it to error out so if anyones got that enalbed turn it off.

[2016-07-29 19:58] Sen66 commented on #552
It works with 2step verification. Just set an app password and use that as password for the application.

[2016-07-29 20:13] jefvanhoyweghen commented on #535
That's basically what this bot does. It scans the surroundings for Pokémon and Pokéstops. When it's done scanning it spins all the Pokéstops and tries to catch all the Pokémon in the area. If it has done all that it goes to the next section.

[2016-07-29 20:15] bozoweed opened #557 "how to change the radius of detect pokestop and walk more kilometre around ?"
where is in the code the line to modify for have a bigest radius for see more pokestop around the bot ?

[2016-07-29 20:24] bozoweed commented on #535
so the bot already do what i have ask ? x)

[2016-07-29 20:31] Lihouf commented on #532
I dont know about 1.6.5.1 but in 1.7 you have just to wait a few, you can see when yu can restart the bot connecting in the offical apps, when the pokestop come back you can restart.
To prevent that try to not disconnect even if you have some "bug"
Sorry for my english ^^

[2016-07-29 20:32] Pajohue opened #558 "ArgumentOutOfRangeException or Null Reference"
http://www.bilder-upload.eu/show.php?file=1a7b4f-1469824501.png
Everytime after log in and the first PokeStop I'm getting this error. Can someone say me what's wrong?

[2016-07-29 20:39] sjonniej commented on #534
Only scan for gyms that have the same team as you and IF possible add strongest pokemon to the gym. Thats the only thing that seems a bit fair. If you ;auto fight' the gym will be beaten by ease, because the avoid option will surely be implemented...

[2016-07-29 20:46] soshimozi commented on #511
This is some code I added to the encounter code which checks for a full inventory:

Note: the break is there because I actually use a "loitering" loop to wait at spots for a certain amount of time and then recheck for pokemon before moving on.  I find that it's increased my catch rate significantly, but it does have the drawback of less stops visited in a time period.

[code]

[2016-07-29 21:18] wraith15 opened #559 "Bot does not recycle max revives"

[2016-07-29 21:21] BahaStriker commented on #547
@scottmccain already working on it, when I'm done I'll pull a request

[2016-07-29 21:28] Gateway753 opened #560 "Evolve above IV"
For exemple, evolve pokémon only above 90% IV
Can someone make this?

[2016-07-29 22:01] pamallen opened #562 "Upgrade as much as possible ?"
Would it be possible to add a button to upgrade a pokemon as much as possible (until no more Candy or max potential) in one click, instead of selecting it again every time ?

[2016-07-29 22:11] DetectiveSquirrel commented on #547
this was forked when NecronomiconCoding posted his, also for all pull request make sure its in the Beta Build branch.

[2016-07-29 22:14] MatthewHudnall commented on #560
In mainform.cs, something like this should work:

private async Task EvolveAllGivenPokemons(Client client, IEnumerable<PokemonData> pokemonToEvolve)
        {
            foreach (var pokemon in pokemonToEvolve)
            {
                **if(Math.Round(Perfect(pokemon))>=90)
                {**

[2016-07-29 22:14] BahaStriker commented on #547
@DetectiveSquirrel alright

[2016-07-29 22:30] bozoweed commented on #562
yes why not its seem to be great nut put in seting with boolean value

[2016-07-29 22:35] Solrian commented on #560
I wrote a similar evolveroutine for myself.
This would generate a List of Pokemon above a certain IV and then try to evolve them all.

replace `if (ClientSettings.EvolveAllGivenPokemons)
                    await EvolveAllGivenPokemons(client, pokemons);`
with `if (ClientSettings.EvolveAllGivenPokemons)
                    await evolvemaxIV(client, 90);`

put in mainform.cs

private async Task evo

[2016-07-29 22:37] bozoweed commented on #557
it's server side ? :'( cause some bot like necrobot how use poke rocket api have the possibility of change this radius for walk more far away

[2016-07-29 22:42] bozoweed commented on #557
yes i understand thanks :)

[2016-07-29 22:50] bozoweed commented on #557
i'm dev but it's not my work or study ,
and i don't know if it's possible but for exemple when i tp to santa monica i got "visiting 114 pokestop" for exemple and when i go to syndney i got "visiting 184 pokestop" so i have look in source and i have seen where the amount is calculated but i juste want scan and fin more pokestop around after the api save it for me and use it juste give a biggest "ra

[2016-07-29 23:43] mm1rza-zz commented on #519
@Sen66 you using DetectiveSquirrel bot? tellme

[2016-07-29 23:45] seriousamy opened #565 "Bot is moving fast"
Why is the bot moving so fast?
I mean, he seems to jump from pokestop to pokestop without taking advantage of the potential lures around them.... Or am I missing something?
It would be great to target a specific point/pokemon.

[2016-07-29 23:52] freezea opened #566 "wtf is this error?"
![image](https://cloud.githubusercontent.com/assets/20640540/17266410/290ad692-55f8-11e6-8964-81fbc8d7dfc6.png)

i got this error when i try to open with ctrl+f5

[2016-07-30 00:19] freezea commented on #566
bumppppp

[2016-07-30 00:39] xquiaz commented on #558
update your bot to latest version, its working for me.

[2016-07-30 00:55] ZanderDLuffy commented on #554
to your first problem just enter in your own values of amounts of items in the setting

![setting](https://cloud.githubusercontent.com/assets/20721443/17267011/26a3be10-5633-11e6-8643-d7c9e3c3f618.jpg)

[2016-07-30 01:12] Sen66 commented on #519
@mm1rza No im not, using my own modified version of it. But its basicly the same. Why you asking?

[2016-07-30 01:28] JackieTseng commented on #554
Thx, the second problem now become the cannot login problem. Forever restarting...

[2016-07-30 01:38] Charlieevox opened #569 "Stuck"
Hi Guys, I Already Using This BOT for a couple day, but i dont know this always happen.

My bot always stuck at 4AM, and its always happen everyday No Matter what version i use, can anyone help?

![capture](https://cloud.githubusercontent.com/assets/18612716/17267365/045fa244-5631-11e6-917a-78030a246ed2.PNG)

[2016-07-30 01:43] fstubner opened #570 "BUG: Exception"
Steps to reproduce:
-Run the solution
-Click Start Bot and then immediately Force Unban

Comments:
These steps cause an exception.

[2016-07-30 01:46] Aintence commented on #558
Been getting this error for the past 3 days. bot was always updated, i use PTC account.

[2016-07-30 02:10] JackieTseng opened #571 "How to set GoogleRefreshToken"
I haven't try `GoogleRefreshToken` ever before. how can I  set `GoogleRefreshToken` for Pokemon Go.  Anyone can help?

[2016-07-30 02:20] jiemojiemo opened #572 "PokeUi loading is slower than before version"
It is my illusion, or is cause by my bad internet?
I wait loading for minutes but it is not work.But the before version, it is completed immediately.

[2016-07-30 02:28] JackieTseng commented on #501
OK, it works after I changed the script into latest version and the app password above. However, during exactly most of the time, logining with Google account will still stuck into `Null Reference` problem.  Once it get through login job, the `Null Reference` problem will appear again in half an hour.

[2016-07-30 02:51] jiemojiemo commented on #571
Using email and password it can work

[2016-07-30 02:52] jiemojiemo commented on #569
Same problem...

[2016-07-30 02:58] JackieTseng commented on #571
Yep. It can sometimes work. But Most of the time are stuck in `Null Refference` problem when login using Google.

[2016-07-30 03:19] jiemojiemo commented on #514
not to transfer list only work in cp mode.But that will be great if IV mode can work too.

[2016-07-30 03:24] jiemojiemo commented on #572
It works normally now,I do not know why it was happend, maybe bad internet

[2016-07-30 03:30] mm1rza-zz commented on #519
@Sen66 I always got not responding on windows server2008. could i have that?

[2016-07-30 03:40] kingkong91108 opened #574 "What do i download to build"

[2016-07-30 03:49] maddhadder90 commented on #560
@Solrian what mode do you have the transfer on while using your code? I currently use the duplicateIV transfer option.

[2016-07-30 04:15] bozoweed opened #575 "[tuto] fix the country error & the area error :D"
all is on  this post #579^^

[2016-07-30 04:39] jiemojiemo commented on #575
Thx, it is helpful to me

[2016-07-30 04:43] bozoweed commented on #575
no probleme bro ^^ i'm happy to help you :)

[2016-07-30 04:58] Solrian commented on #560
my personal code is a little more complex than this example, but i use it on duplicateIV also.

[2016-07-30 05:11] elffish opened #578 "Adding UI sorting option by number # in the Pokedex?"
This would be very helpful.

[2016-07-30 05:19] starktony1 opened #580 "Please fix bot hanging and make it go a littile bit Faster"
Hi ,
Can you please make bot go a little bit faster also BOT hangs multiple times . The Update in the bottom of the window of Run time is also 3 seconds delayed . Please fix .

[2016-07-30 05:23] DerMitDemBoesenGesicht opened #581 "displaying Geo Location infos at startup ("error")"
you could use this snippet, it is based on google api, and works just fine.
dunno which of those values (from xml) you want to display, so i only added city / locality and country.

`private static string _geoXml;
        private static double _lat=0;
        private static double _lon=0;
        private static bool pc=false;
        private static Dictionary<string, string> GeoValues = new Dictio

[2016-07-30 05:30] bozoweed commented on #581
what is the error you speak about ?

[2016-07-30 05:46] bozoweed opened #582 "where is the image for my pokemon catched ?"
please integrate it again :)

[2016-07-30 06:13] Dr-Legend opened #584 "Can someone Upload final build already compiled?"

[2016-07-30 06:15] bozoweed commented on #584
just download visual studio 2015 and compile it ;)

[2016-07-30 06:32] bozoweed opened #585 "don't use last update she cleaning the bag"
please back up the bot befor the ui modify because they cause empty bag and it's not ready for this moment thx

[2016-07-30 06:42] Pajohue commented on #558
Aintence said it. I use a PTC Account too

[2016-07-30 07:12] freezea opened #586 "what should i do?"
![image](https://cloud.githubusercontent.com/assets/20640540/17268799/bf778034-5635-11e6-9ba0-bfb4ca4c4221.png)

---

i have this error :/

[2016-07-30 07:35] Dr-Legend commented on #584
trying to download since 3 days

[2016-07-30 07:48] bobikorama commented on #578
+1 for ascending name sorting

[2016-07-30 07:58] starktony1 commented on #586
Right click "PokemonGo.RocketAPI.Window" on the Solution Explorer (right side of Visual Studio) and click "Set as StartUp Project" before compiling again

[2016-07-30 08:12] mrlongttvn commented on #584
Mine. some tweaks on IVs and messages. Work bests on Duplicate mode.

[2016-07-30 08:18] Dr-Legend commented on #584
thanx buddy :)

[2016-07-30 08:26] freezea commented on #586
im installing now vs 2013 again on my VPS, ( vs 2013 on my main computer working perfect with this bot, without any errors),
I'll let

[2016-07-30 08:38] psychomm commented on #585
Hei mate, this bot has the "Item Recycle" feature, so it is normal. It leaves some Pokéball (20 I guess) Greatball(30) Ultraball(60-70) and so on... It is made to avoid a full inventory

[2016-07-30 08:45] ghost commented on #585
@psychomm there is an issue with the code which completely empties your bag. Completely empty, not the normal recycle thing.

[2016-07-30 08:57] bobikorama opened #587 "Transfer only latest (fresh captured)"
is there option to transfer pokemon after it is caught? without CP or IV req.

[2016-07-30 08:57] freezea commented on #586
same error , omg i dont know what is this ....  i have net framework 4.5, everything is ok system comaptybile windos server 2008 R2 SP1..

[2016-07-30 09:17] freezea commented on #586
problem solved !

[2016-07-30 09:21] Lihouf commented on #587
Maybe "all" with fav pokémon for the pokémon you want to keep i think

[2016-07-30 09:32] gangstad1 opened #590 "How do you control bot travel radius or make it stay in one spot?"
^

[2016-07-30 09:36] EskimoLV opened #591 "Bot not working."
[12:36:10 ] Visiting 0 PokeStops
[12:36:10 ] No nearby useful locations found. Please wait 10 seconds.

And all time restarting. With cords all is ok ^_^

[2016-07-30 09:51] mrlongttvn commented on #591
click on Map, see where you are and relocate

[2016-07-30 09:52] EskimoLV commented on #591
@mrlongttvn i said, with cord all is ok!

[2016-07-30 09:54] mrlongttvn commented on #591
no idea then. sometimes i encountered this bug and relocate myself (in appconfig).

[2016-07-30 10:04] EskimoLV commented on #591
@mrlongttvn , can u tell me pls cord where u farming ?

[2016-07-30 11:00] bozoweed opened #593 "PLEASE BACK UP THE BOT"
i lost again my stuff !!!:!!!!!!

[12:56:19 ] Recycled 20x RazzBerry
[12:56:20 ] Recycled 20x PokeBall
[12:56:21 ] Recycled 50x GreatBall
[12:56:22 ] Recycled 100x UltraBall
[12:56:23 ] Recycled 50x HyperPotion
[12:56:24 ] Recycled 20x Revive

[2016-07-30 11:03] DetectiveSquirrel commented on #593
that why there is the master build....................................

[2016-07-30 11:03] #593 closed, assigned to nobody

[2016-07-30 11:06] mrlongttvn commented on #591
@EskimoLV it's -33.858931 / 151.213285 - Sydney Opera House

[2016-07-30 12:23] freezea opened #596 "bot pause after 1-2h"
Why bot after 2 hours of collection, suddenly stop and doing nothing ? it was a little bothered because I have a vps and I can not do anything with it

[2016-07-30 12:51] andrewtjia opened #598 "Argument Null Refference - Restarting"
please explain it to me i dont understand

[2016-07-30 12:58] 4ndr0id19 commented on #590
Currently the logic is just to go to the next closest pokestop, so in theory if there were enough connecting pokestops it could travel way to far. Then, when it resets to the set cords your toon will jump XXX:Km and get soft ban. i am thinking this is what keeps happening to 2 of my accounts in the san fran bay. I also believe it is causing a couple of the errors we are seeing in bot. But i do not

[2016-07-30 12:59] EskimoLV commented on #596
- same every 1 hour

[2016-07-30 13:00] 4ndr0id19 commented on #587
I think it would be cool if you could lock pokemon in the game so you dont accidentally transfer them. I know if im having a conversation with someone my thumb gets a mind of its own and will keep transfering random pokemon while im not paying attention.

[2016-07-30 13:03] 4ndr0id19 commented on #586
what was the issue?

[2016-07-30 13:04] 4ndr0id19 commented on #585
set recycle to false

[2016-07-30 13:06] 4ndr0id19 commented on #574
Visual studio 2015.. but if you are having issues at this point you should probably stick to just biking around looking for pokemon.

[2016-07-30 13:10] freezea commented on #596
That's the only bug that I detected in this bot, but this is very disturbing

[2016-07-30 13:33] kurdt94 commented on #598
Empty bag of pokemons, list is full ? delete some. try again.

[2016-07-30 13:35] freezea commented on #596
This is because of recycle working not good, 100% bag - pause , logout and start bot - 70-60% and working fine 1h, and again and again....

[2016-07-30 13:48] delsin94 opened #599 "Wish: combine Bot with "Pokemon Live Map""
It would be very nice if we could have a kind of white list for example "pikachu" and the bot compare the GPS  coordinates with the "pokemon live map" and catch the pokemon where they are.

I know it´s a big wish...

[2016-07-30 13:57] andrewtjia commented on #598
its not full, at first i can use it for around 4-5 hours then it starts to restart

[2016-07-30 14:07] jiemojiemo commented on #596
Same problem +1

[2016-07-30 15:04] onomatopejaeselu commented on #596
Also, 30 minutes and bot stops. I see no messages with recycling...

[2016-07-30 15:09] freezea commented on #596
waiting for uptade ;/

[2016-07-30 15:23] FernandezR opened #602 "Whitelist and Blacklist for Transfer"
Where are these located now? Program.cs in window doesn't have anything for this.

[2016-07-30 15:32] FernandezR opened #603 "Auto Transfer of pokemon broken"
##

[2016-07-30 15:37] jiemojiemo commented on #602
Mainform.cs now

[2016-07-30 15:39] jiemojiemo commented on #602
but it's only work in cp mode, it will be great if it can work in iv mode

[2016-07-30 15:58] lgpy opened #605 "Feature Request"
Adding and removing pokemon from favorites in Pokeui and Recycling Settings (choose max amount for each item)

[2016-07-30 16:00] billabong1986 opened #606 "i Can't run the pokemon go bot and im doing exactly same step and i get this bug"

[2016-07-30 16:08] FernandezR commented on #602
Can I set it to not evolve before transfer @mfron

[2016-07-30 16:20] Grunkhead opened #607 "GoogleRefreshToken"
Where to find it using windowed mode?

[2016-07-30 16:44] Energex22 commented on #596
Having this issue also..... Not to bad, just got to keep checking on it....

[2016-07-30 16:45] Energex22 opened #608 "Egg Hatching and Incubating"
I think this would be a lovely setting to add...

I think that it is a major function/tool thing that could be added in.
A bot that has the function working good is:
https://github.com/NecronomiconCoding/NecroBot

Not sure if you could use the system there using or, make ur own...

[2016-07-30 17:07] Sen66 commented on #607
You dont need it.

[2016-07-30 17:35] wickdhdgamer opened #609 "pokemon sniping"
the sniping feature is not working

[2016-07-30 17:37] wickdhdgamer commented on #606
put quotations before and after the username and password. like this: "EXAMPLEUSERNAME"
"EXAMPLEPW"

[2016-07-30 19:49] delsin94 commented on #605
Black List for Zubats

[2016-07-30 20:05] bozoweed commented on #609
or you just be soft banned
so force unban & let him do ;)

[2016-07-30 20:32] Alexander3500 opened #613 "Bot is ignoring some pokemons?"
Hii, Im having a problem when I use pokevision to locate a pokemon and enter the coordinates it doesnt seem to notice the pokemon Im looking for? I made sure its the right longitude and latitude :\ Please help! It seems to only work on the older versions of the bot with necro

[2016-07-30 20:52] ghost opened #614 "TransferType differences?"
Whats the diff with "IV" and "IV Duplicates"

[2016-07-30 21:55] raotskuhh commented on #608
Any ideas on how we can get this to work in current version?

[2016-07-30 23:02] Pultz opened #616 "New favorite/transfer system. POGO 0.31.0 or so i guess."
problem is that niantic realesed a new system for transfer basically.
It's a menu in the bottom right, when click on a pokemon
U can favorite it or transfer if favorited u cant transfer

[2016-07-30 23:30] ViBE-HU opened #617 "Linux version?"
Could you make a Linux version please with the same functions?

[2016-07-30 23:57] thuantocode commented on #590
In ExecuteFarmingPokestopsAndPokemons you can eliminate pokestops that are too far from your starting coordiantes.  eg

[code]

Where ClientSettings.TravelRadius and this._startingPosition are new settings / variables.

One problem with this is you may starve the bot of pokestops depending on the location.

You can adjust the walk speed too right to avoid jumping too far too fast?

[2016-07-31 00:19] starktony1 opened #618 "BOT not catching any pokemons"
Please help BOT is NOt catching any pokemons.
Yes there are pokemons in that area(i manually checked 19 Lures also).
Manually i can catch pokemons.
Force Unbann does no help

![image](https://cloud.githubusercontent.com/assets/20708547/17273828/47e68918-56e2-11e6-8c25-cc698db1ad67.png)

[2016-07-31 00:23] thuantocode commented on #618
At the moment i'm guessing pokemon are rarely spawning at pokestops now and as the bots are based on going from pokestop to pokestop there's hardly anything to catch.
Could be an anti-bot mechanism, or could be something wrong with pokemon not spawning at the moment.
One thing we need is verification that there is a pokemon at a pokestop but the bot just can't see it.

Edit: sorry just saw you sai

[2016-07-31 00:38] YupHesback commented on #618
Its your location your in San fran and your near the peirs. I can tell by the pokestops

[2016-07-31 00:39] Dark-Developer commented on #618
Niantic removed the ability to throw balls as soon as the battle starts. Need to look into a new way to catch them now.

[2016-07-31 00:45] deadbambi commented on #618
yeah Im having the same problem now too, but heres the weird thing
Im almost level 29, it just started about an hour ago not collecting pokemons, but Im running another bot for my wife and she is only level 12 atm and its still collecting pokemons as Im writing this

[2016-07-31 00:55] beaujanglez727 commented on #618
Level 31 Bot is in dallas area - caught 3 pokemon in the last hour. Also not getting any items from stops. Just changed locations having trouble getting forced unbanned now.

[2016-07-31 00:56] thuantocode commented on #618
Minimum time for get_map_objects is now 5s. See https://www.reddit.com/r/pokemongodev/comments/4vev3u/psa_get_map_objects_min_refresh_seconds_5/

Solution for now is to ensure at least 5s between the GetMapObjects calls.

[2016-07-31 01:06] starktony1 commented on #618
@MagicMoogle I tried to change settings manually (Im no programmer) but it didnt work .
I searched that code and replaced previous values with new values

[2016-07-31 01:16] eGeeked commented on #618
@starktony1  were you looking in Payload.cs?

[2016-07-31 01:21] thuantocode commented on #618
Simplest way is to stick an await Task.Delay(5000); line before before the return statement in the GetMapObject method in Client.cs. This has drastically reduced xp/hr and pokemon/hr but it is working again.  Optimally we would remember when we last made the call and wait till then +5.

[2016-07-31 02:11] bozoweed commented on #618
thx for that :)

[2016-07-31 02:18] ymlai87416 commented on #618
@MagicMoogle thanks alot

[2016-07-31 02:21] Epic81 commented on #618
how do you edit the file?
I downloaded visual studios and sandy cs file editor. I go to my downloads folder and sub folder pokemon_go_hacks but nothing comes up.
The program Pokemon_Go_Rocket and all its files are there.
How do I open the file for editing?
Thanks in advance.

[2016-07-31 02:26] Fliperworld commented on #490
@DetectiveSquirrel  i'm  working on a version of FeroxRev patched to work in VS2013 ,so i can't help a lot, but there is some snippets of my code thats gives it(my original code gives a CP of pokemon on any lvl ; with variables renamed for a better understanding of my code).

[code]

[2016-07-31 02:28] bozoweed commented on #618
edit with notepad++ compile with visual studio 2015

[2016-07-31 02:30] Ethan943 commented on #618
Hey sorry for the dumb question but where is GetMapObject in Client.cs when it loads Visual Studios? I can't find it and also if you could tell me where the Return Statement will be that would be nice. Thanks!

[2016-07-31 02:33] bozoweed commented on #618
return

[code]

line ~ 320

[2016-07-31 02:35] Ethan943 commented on #618
I don't see any of that on line 320. Mines says         new Request.Types.SettingsGuid   line 322 is     Guid = ByteString.CopyFromUtf8("4a2e9bc330dae60e7b74fc85b98868ab4700802e") What am I doing wrong?

[2016-07-31 02:37] bozoweed commented on #618
look around this ligne or just presse ctlr+f

[2016-07-31 02:38] Ethan943 commented on #618
Yeah, I see "New" thats what got highlighted..

[2016-07-31 02:40] Ethan943 commented on #618
OH line 327 has what you posted, what do I need to do on that line?

[2016-07-31 02:41] bozoweed commented on #618
[code]

[2016-07-31 02:41] Ethan943 commented on #618
I see, so whats the difference with Task.Delay(5000); and Task.Delay(6000);

[2016-07-31 02:43] bozoweed commented on #618
or you a dev ? --'
5000= 5 second before take return
and pokemon spawn in 5 seconde so i have add 1 sec for have more chance to catch one

[2016-07-31 02:43] Ethan943 commented on #618
No, I'm not a dev lol.. Also, so this is going to catch me pokemon but just not as fast as it did before?

[2016-07-31 02:44] bozoweed commented on #618
yes cause niantic have make a couldown of 5 second before spawning

[2016-07-31 02:45] Ethan943 commented on #618
Also, just Ctrl-S will make this work or do I is there anything else I have to do.I have the bot pinned to my task bar so do I need to go through the entire CTRL f5 thing again? Or is this instantly going to take place.

[2016-07-31 02:46] Ethan943 commented on #618
I'm still catching nothing so I think I might need to do something else to have it take place..

[2016-07-31 02:51] bozoweed commented on #618
whtf ? it's a release not source code x) the edit must be in source and compiled

for the timer i working on it for seen the best timer

[2016-07-31 02:52] Ethan943 commented on #618
Bozoweed, do you think you could help me out with this? Nothing has changed sense I added that code in, so idk :( @bozoweed

[2016-07-31 02:54] bozoweed commented on #618
i will do an updatte now i try it if it's work perfectly i will upload it then you onli must download my update and all must be okey
i can't do any more

[2016-07-31 02:54] Ethan943 commented on #618
Okay, do you have skype by any chance?

[2016-07-31 02:54] bozoweed commented on #618
for now the bot say to me pokemon/hour 110 ^^

[2016-07-31 02:55] Ethan943 commented on #618
Wait how!

[2016-07-31 02:55] Ethan943 commented on #618
I did what you said, I put that code in, but nothing changed!

[2016-07-31 02:55] bozoweed commented on #618
yes i got it but i don't give it sorry

[2016-07-31 02:55] deadbambi commented on #618
thanks bozoweed, it'd be much appreciated if you could just upload a new build

[2016-07-31 02:55] Ethan943 commented on #618
Okay, so how can you help me with this? What should I do..

[2016-07-31 02:55] bozoweed commented on #618
i will past the link for the updated source when it's okey

[2016-07-31 02:56] Epic81 commented on #618
@bozoweed can you upload your modified verison? Thanks for your help.

[2016-07-31 02:56] animesugoi commented on #618
Ty bozoweed waiting for new release from u then

[2016-07-31 02:56] Ethan943 commented on #618
Updated source? Like the code updated were I can run the program like you?

[2016-07-31 02:56] starktony1 commented on #618
@DetectiveSquirrel please Fix this

[2016-07-31 02:57] bozoweed commented on #618
if you want the release porograme waite juste 5 minuste more cause i got a bad connection ^^

[2016-07-31 02:57] Ethan943 commented on #618
Bozo, are you talking to me? Is this new program going to work?SO CONFUSED

[2016-07-31 02:58] bozoweed commented on #618
first i upload the source updated
after i update the programe is for everyone

[2016-07-31 02:59] Ethan943 commented on #618
Okay, so I will be catching pokemon then right..?

[2016-07-31 02:59] starktony1 commented on #618
@Ethan943 you are way too excited , let bozo do the work :p

[2016-07-31 03:00] bozoweed commented on #618
after my update yes you can ^^
i just try to maque it stable

[2016-07-31 03:00] Ethan943 commented on #618
Dude im so confused right now lol.. @starktony1

[2016-07-31 03:01] Epic81 commented on #618
@Ethan943 chill bro he's going to release the source code first then upload a stable version for everyone to just download and run.

[2016-07-31 03:01] starktony1 commented on #618
@Ethan943 they update the BOT to make it work , OFC it will make you catch pokemon . Let Bozo work , Sip a bear and Sit back .

[2016-07-31 03:01] soshimozi opened #621 "[INFO] Poke snipe is no more"
Ninantic introduced a new 30 second rate limitation on GetMapObjects() which effectively plugs the hole that was exposed with the poke snipeing.  This of course affects other bots as well and we need to now honor that 30 second rate limitation somehow.

[2016-07-31 03:01] Ethan943 commented on #618
Alright..

[2016-07-31 03:02] starktony1 commented on #618
@bozoweed take your time bro , We will be waiting patiently :) . No problem

[2016-07-31 03:03] gangstad1 commented on #590
How would you change it to like within like 5-10 feet?

[2016-07-31 03:03] deadbambi commented on #618
@bozoweed release it when you feel its right man, no worries

[2016-07-31 03:04] Ethan943 commented on #618
I just logged in PoGo on my phone.. is this 3 step glitch fixed or what is it? None of the pokemon near me have steps anymore lol..

[2016-07-31 03:05] starktony1 commented on #618
@Ethan943 they removed the 3 step glitch by removing the steps all together .
Please stick to the topic

[2016-07-31 03:05] Fliperworld commented on #490
A complete list of all multipliers can be found [here](https://www.reddit.com/r/pokemongodev/comments/4t59t1/decoded_game_master_protobuf_file_v01_all_pokemon/d5f2y91?st=ir925eee&sh=ac07651b).
For a Max Cp at current player lvl you can use this formula:
Max pokemon lvl at current player lvl = player lvl + 1.5

[2016-07-31 03:06] Ethan943 commented on #618
Sorry man.. Anyways is this going to be an updated version of the bot we all use right now?

[2016-07-31 03:06] bozoweed commented on #618
i have modify the timer again for take 3 second more and the status bar say 30k exp hour and 100 pokemon/hour ^^ test continue stay turned :)

[2016-07-31 03:07] starktony1 commented on #618
@bozoweed tuned , no hurry . Just make it best . @Ethan943 yes we will

[2016-07-31 03:07] bozoweed commented on #618
okey no probleme ^^

[2016-07-31 03:08] Epic81 commented on #618
@Ethan943 part of update to game. google the update and its fixes.
Yes there will be an updated version released.
@bozoweed would it be too much to ask to edit the source code so poke balls are kept while potions and revives tossed.

[2016-07-31 03:09] Ethan943 commented on #618
Okay, so this is going to run better than before :P?

[2016-07-31 03:10] bozoweed commented on #618
i think the pokemon spawn is really shit x)

[code]

[2016-07-31 03:10] starktony1 commented on #618
@Epic81 you can edit it yourself , what you want to keep and what you dont want . Settings.cs . Recycler code

@Ethan943 OFC it will be or else y we update

[2016-07-31 03:11] Ethan943 commented on #618
xD true.. BTW where is the recycler code in Settings.cs?

[2016-07-31 03:12] bozoweed commented on #618
the recycler is in window\app.config
don't tuch the setting.cs

[2016-07-31 03:12] Ethan943 commented on #618
okay

[2016-07-31 03:13] starktony1 commented on #618
@Ethan943 . :package:

![image](https://cloud.githubusercontent.com/assets/20708547/17274336/ce901296-56fa-11e6-98c7-df30d968f078.png)

[2016-07-31 03:13] Epic81 commented on #618
@starktony1 can you screen shot the process of opening the source code for editing thanks.
Eager to start messing with it and modify

[2016-07-31 03:13] starktony1 commented on #618
@Epic81 I already did

[2016-07-31 03:14] bozoweed commented on #618
i think my update is okey ^^ i will go upload the source soone
![capture](https://cloud.githubusercontent.com/assets/11362992/17274343/ac86ae7a-56dd-11e6-9fb2-424264df6167.PNG)

[2016-07-31 03:15] starktony1 commented on #618
@bozoweed No pressure bro :)

[2016-07-31 03:16] bozoweed commented on #618
^^

[2016-07-31 03:16] Ethan943 commented on #618
Yeah I can't find the recycler.. I'm lost on where it is, not a big deal though.

[2016-07-31 03:17] bozoweed commented on #618
tell me if you love my UI when you go try it ^^ i have add some feature and fix ^^

[2016-07-31 03:17] bozoweed commented on #618
don't worry recycler is patch in my source ;)

[2016-07-31 03:17] starktony1 commented on #618
@Ethan943 I already posted a Screenshot above refer to it . @bozoweed Love you already man

[2016-07-31 03:18] Ethan943 commented on #618
Alright, do I need to like delete anything I have now to make this work?

[2016-07-31 03:18] bozoweed commented on #618
sorry i haven't understud what you ask

[2016-07-31 03:18] deadbambi commented on #618
@bozoweed  yeah the screen shot looks good, many thanks are coming your way

[2016-07-31 03:19] starktony1 commented on #618
@Ethan943 what is your age ?

[2016-07-31 03:19] highflyer41 commented on #618
I edited client.cs around line 320 like bozo said and it's working again.
![delay](https://cloud.githubusercontent.com/assets/20697691/17274362/0183ec58-56ac-11e6-99bf-0a21812a0867.jpg)

[2016-07-31 03:19] Ethan943 commented on #618
Do I need to keep everything I already have for the bot..?

[2016-07-31 03:19] bozoweed commented on #618
nop you can delete all my source i full complet

[2016-07-31 03:19] Ethan943 commented on #618
@starktony1 Sorry, personal info there.

[2016-07-31 03:20] Ethan943 commented on #618
Bozo, what do you mean there..?

[2016-07-31 03:20] bozoweed commented on #618
@highflyer41 the timer is too short but it's that line ;)

[2016-07-31 03:20] Epic81 commented on #618
@Ethan943 delete everything and install new one when he uploads.
@starktony1  i would guess a small child

[2016-07-31 03:21] highflyer41 commented on #618
@bozoweed yeah. it's working but not nearly as well. should I use 8000 instead?

[2016-07-31 03:21] bozoweed commented on #618
@Epic81 exactly ^^

[2016-07-31 03:21] starktony1 commented on #618
@Epic81 I too think the same .

[2016-07-31 03:22] fdlf5518 commented on #618
hum..~~ what happen now? doesnt work ..

[2016-07-31 03:23] bozoweed commented on #618
update server side so pokemon make 5 second befor spawning so wait my source and release ;) it's work

[2016-07-31 03:23] bozoweed commented on #618
i will start the upload now it's work perfectly guy's ^^

[2016-07-31 03:24] fdlf5518 commented on #618
@bozoweed where is link? how to download your source ? please i want~

[2016-07-31 03:24] starktony1 commented on #618
@bozoweed Go go go

[2016-07-31 03:25] fdlf5518 commented on #618
@bozoweed GOGOGOGO~~

[2016-07-31 03:26] starktony1 commented on #618
@EPic81 open Pokemon Go Rocket API.sln and then look what i have given in screenshot

[2016-07-31 03:27] bozoweed commented on #618
https://github.com/bozoweed/Pokemon-Go-Rocket-API-1

[2016-07-31 03:27] bozoweed commented on #618
this is the source now i recompile it and give you the drop box link

[2016-07-31 03:27] Ethan943 commented on #618
Sorry never used this site before, how do I download it

[2016-07-31 03:27] fdlf5518 commented on #618
@bozoweed wow  thank you very much~

[2016-07-31 03:28] bozoweed commented on #618
no probleme ^^

[2016-07-31 03:28] Ethan943 commented on #618
Bozo do I need to download what you just linked?

[2016-07-31 03:28] DetectiveSquirrel commented on #618
@bozoweed why not just make a pull request instead of linking to your forked version

[2016-07-31 03:29] deadbambi commented on #618
holy shit its @DetectiveSquirrel
people were complaining earlier that you were not responding to pull requests

[2016-07-31 03:29] starktony1 commented on #618
@DetectiveSquirrel bro , please update yours

[2016-07-31 03:29] bozoweed commented on #618
@Ethan943 if you want a .exe you must wait 5 minute more
@DetectiveSquirrel cause i use the old ui

[2016-07-31 03:30] Ethan943 commented on #618
@bozoweed Okay, so just downloading your dropbox link will be fine right? And I had to go through that process to make the pokemon bot work the first time. Will I need to do it again?

[2016-07-31 03:32] bozoweed commented on #618
@Ethan943 yes but don't forget to configure the geoloc and account setting

[2016-07-31 03:32] Ethan943 commented on #618
I'm a noob at this, i'm sorry :(How would I do that?

[2016-07-31 03:32] bozoweed commented on #618
@DetectiveSquirrel
can you delete my old purge please ?

[2016-07-31 03:33] bozoweed commented on #618
@Ethan943
i think you can found this alone ^^

[2016-07-31 03:33] beaujanglez727 commented on #618
Im testing this now @bozoweed Waiting on force unban to run.

[2016-07-31 03:34] bozoweed commented on #618
@beaujanglez727 no probleme it's work fine for me juste take some time for start ^^

[2016-07-31 03:34] Epic81 commented on #618
@bozoweed drop box link? thanks

[2016-07-31 03:35] fdlf5518 commented on #618
@bozoweed could you upload .exe file its fine? i need to EXE file

[2016-07-31 03:35] Ethan943 commented on #618
@bozoweed Is it line 94 that I log in on this one in the client.cs?

[2016-07-31 03:35] bozoweed commented on #618
the dropbox link coming i have bad connection :/

[2016-07-31 03:35] mrlongttvn commented on #618
the topic is quite long. I'm afraid i may miss something.

guys, is there any change except put the waiting in the file?

[2016-07-31 03:36] bozoweed commented on #618
@mrlongttvn juste download my update in my reposite ;)

[2016-07-31 03:37] Ethan943 commented on #618
@bozoweed How do I log in on yours in Client.cs? Like where do I put my information

[2016-07-31 03:37] bozoweed commented on #618
here is the link for .exe
https://www.dropbox.com/s/pf7ehfdepuzz57k/pokemon%20go%20bot%20api%20old%20ui.rar?dl=0

[2016-07-31 03:38] bozoweed commented on #618
@Ethan943 please dl the exe and in top clic in setting and enter you account info

[2016-07-31 03:39] mrlongttvn commented on #618
@bozoweed since i have some tweaks on mine. let me download yours and compare

[2016-07-31 03:40] bozoweed commented on #618
@mrlongttvn okey no probleme i can help you if you want

[2016-07-31 03:41] Ethan943 commented on #618
@bozoweed When I download the exe it pops up with a TON of numbers and code in visual studios o.o

[2016-07-31 03:41] starktony1 commented on #618
TIP: Speed is important to be 20 KM or you will miss pokemons . Please keep this in mind

[2016-07-31 03:41] bozoweed commented on #618
sorry upload the bad file :'( i will upload again

[2016-07-31 03:42] Ethan943 commented on #618
@starktony1 so keep speed at 20km?

[2016-07-31 03:42] mrlongttvn commented on #618
@bozoweed so the changes are
1. update the waiting time
2. travel speed change
?

[2016-07-31 03:42] starktony1 commented on #618
ya dont increase to 60 or 80 like in previous BOTS

[2016-07-31 03:42] Ethan943 commented on #618
@starktony1 Okay tyvm

[2016-07-31 03:42] beaujanglez727 commented on #618
Good news is I can see pokemon.. bad news is im softband. Waiting for it to unban but 10 minutes and it still says starting force unban. Hopefully Niantic didn't black that too :/

[2016-07-31 03:43] fdlf5518 commented on #618
what's force unban mean???

[2016-07-31 03:43] bozoweed commented on #618
@beaujanglez727 restart the bot and wait she said "visiting x pokestop"

[2016-07-31 03:43] starktony1 commented on #618
Ya some people are saying FOrce Unban is not working for them . hopefully Niantic Didnt f this up too

[2016-07-31 03:44] teezanateep1 commented on #618
I want exe file plz send or upload.

[2016-07-31 03:44] bozoweed commented on #618
this is the good file ^^
https://www.dropbox.com/s/pf7ehfdepuzz57k/pokemon%20go%20bot%20api%20old%20ui.rar?dl=0

[2016-07-31 03:44] starktony1 commented on #618
@bozoweed good news is BOT is working Awsome . Bad news XP is way too low . But its better than 0 :) . Great Job mate

[2016-07-31 03:45] bozoweed commented on #618
thanks ^^

[2016-07-31 03:45] beaujanglez727 commented on #618
@bozoweed  yeah I have tried that a few times... Im probably just gonna let it run a while and see if it ever does anything lol

[2016-07-31 03:45] Epic81 commented on #618
@bozoweed can you upload again current upload is not working.

[2016-07-31 03:45] bozoweed commented on #618
@beaujanglez727 yes or try to tp in other place

[2016-07-31 03:46] Ethan943 commented on #618
@bozoweed I'm sorry for being super confused. I opened the .exe you sent and I see a ton of code..

[2016-07-31 03:46] deadbambi commented on #618
@bozoweed  many many thanks bro, this will keep us running

[2016-07-31 03:46] fdlf5518 commented on #618
how about best travel speed?? 20km/h?

[2016-07-31 03:46] Ethan943 commented on #618
Like numbers, makes no sense.

[2016-07-31 03:46] teezanateep1 commented on #618
[10:46:03 AM] Login Type: Google
[10:46:04 AM] Argument Null Refference - Restarting

[2016-07-31 03:46] Ethan943 commented on #618
@teezanateep1 where did you log in on the bot he sent? I can't find it in client.cs.

[2016-07-31 03:47] bozoweed commented on #618
screen shot please @Ethan943

[2016-07-31 03:47] bozoweed commented on #618
@teezanateep1 try with a google api key generated about you'r account

[2016-07-31 03:47] Ethan943 commented on #618
What would you like me to screenshot, the exe file thing I see when I open it?

[2016-07-31 03:48] bozoweed commented on #618
because you are the only one how can't open the file so i want to see why you can't

[2016-07-31 03:49] starktony1 commented on #618
@fdlf5518 speed must be 20 or no pokemon catches

[2016-07-31 03:50] bozoweed commented on #618
@starktony1 exactly or can be soft ban

[2016-07-31 03:50] teezanateep1 commented on #618
@bozoweed After i download you file and replace i found it.

[10:46:03 AM] Login Type: Google
[10:46:04 AM] Argument Null Refference - Restarting

when starting bot

[2016-07-31 03:50] Ethan943 commented on #618
![image](https://cloud.githubusercontent.com/assets/20748119/17274465/6feed1b8-56b0-11e6-8487-04b1bab5ab7f.png)

[2016-07-31 03:51] Ethan943 commented on #618
When I open the exe on dropbox

[2016-07-31 03:51] bozoweed commented on #618
@starktony1  try with a google api key generated about you'r account

[2016-07-31 03:51] teezanateep1 commented on #618
i same above can't encoding

[2016-07-31 03:51] Ethan943 commented on #618
bozo, also this is what I see when I want to use the zip file you sent

[2016-07-31 03:51] fdlf5518 commented on #618
@starktony1 thanks bro
un 20km/h best setting?
and the how to use force unban

[2016-07-31 03:52] bozoweed commented on #618
@Ethan943 omg .... exctract the archive this is a .rar

[2016-07-31 03:52] bozoweed commented on #618
@fdlf5518 for the unban wait the bot say visiting x pokestop after you seen that clic in force unban

[2016-07-31 03:52] starktony1 commented on #618
@bozoweed i tried all ways thats y saying . i cant catch a pokemon at 60 or 80 speed so i switched to default 20 and works lika a charm

@Ethan943 EPIC YOU OPENED AN ARCHIVE WITH VS2015

[2016-07-31 03:53] bozoweed commented on #618
@starktony1 enjoy ^^

[2016-07-31 03:54] Ethan943 commented on #618
@bozoweed Like I said, new to this. Do I extract it from within the program? And if so where do I do that from.

[2016-07-31 03:54] fdlf5518 commented on #618
@bozoweed so if i soft ban.. i have a click force unban?  right?

[2016-07-31 03:54] starktony1 commented on #618
@bozoweed bro its working like a charm , so much thanks .

@fdlf5518 yes . after 39-40 attempts you will get unbanned . Unless niantic has fucked this up too

[2016-07-31 03:55] bozoweed commented on #618
@ fdlf5518  yes just wait the bot say visiting 184 pokestop for click in force unban if you clic befor the bot can't go to a pokestop because i haven't doing the scan

[2016-07-31 03:56] fdlf5518 commented on #618
@starktony1
[13:51:20 PM] Meowth with 155 CP and 24% IV got away..
[13:51:26 PM] PokeStop: May Gibbs Plaque
[13:51:45 PM] PokeStop: Xavier Herbert
[13:52:04 PM] PokeStop: Lachlan Macquarie Commemorative Plaque
[13:52:26 PM] Kakuna with 251 CP and 42% IV got away..
[13:52:31 PM] PokeStop: Government House Fountain
[13:52:47 PM] Waiting for last farming action to be complete...
[13:52:48 PM] Startin

[2016-07-31 03:56] Ethan943 commented on #618
@bozoweed  where the hell do I extract this thing? from dropbox?

[2016-07-31 03:57] bozoweed commented on #618
@fdlf5518 yes

[2016-07-31 03:57] bozoweed commented on #618
@ Ethan943 go on google

[2016-07-31 03:57] deadbambi commented on #618
@bozoweed I can agree that this is working great, good job

@anyone else, did anyone ever try to get this bot to hatch eggs?

[2016-07-31 03:57] starktony1 commented on #618
@fdlf5518 yes , just wait it will unbann . It will say like Selecting pokestop . then Starting unbann . After 39-40 Attempts . It will say "FUCK yes"

[2016-07-31 03:57] starktony1 commented on #618
@Ethan943 new to computer i guess

[2016-07-31 03:58] fdlf5518 commented on #618
@bozoweed thanks bro~
@starktony1  thanks bro~

[2016-07-31 03:58] bozoweed commented on #618
@deadbambi thx enjoy ^^

[2016-07-31 03:58] beaujanglez727 commented on #618
@bozoweed seems like you have a great build. Still not letting me unban so just going to leave it trying for an hour or so :/ Tried multiple locations.

[2016-07-31 03:58] Ethan943 commented on #618
@bozoweed Yeah i'm on google..I have it downloaded. I can see it in the bottom left. It's a .rar right now.. Can you please explain what I do now

[2016-07-31 03:58] starktony1 commented on #618
@deadbambi yes i hatch eggs with this all the time . just for starting i have to do it manually in app

[2016-07-31 03:59] teezanateep1 commented on #618
[10:56:38 AM] Latitude: -36.714669
[10:56:38 AM] Longitude: 174.744415
[10:56:38 AM] Country: Error
[10:56:39 AM] Area: Error
[10:56:39 AM] ----------------------------
[10:56:45 AM] Current Level: 24. XP needed for next Level: 24140
[10:56:53 AM] Visiting 26 PokeStops
[10:58:16 AM] PokeStop: Dan Jones Bluff

2 min for 1 process what happen ?

[2016-07-31 03:59] fdlf5518 commented on #618
@teezanateep1 maybe i think 3mins after working

[2016-07-31 04:00] starktony1 commented on #618
@teezanateep1 yes it takes from 1 to 2 mins for 1st

[2016-07-31 04:00] deadbambi commented on #618
dam ethan its pc 101, use winrar to extract the file, then open the file, then open teh debug folder then click the exe

@starktony1 you incubate the eggs?  how? am I missing something here?

[2016-07-31 04:00] teezanateep1 commented on #618
[10:56:38 AM] Latitude: -36.714669
[10:56:38 AM] Longitude: 174.744415
[10:56:38 AM] Country: Error
[10:56:39 AM] Area: Error
[10:56:39 AM] ----------------------------
[10:56:45 AM] Current Level: 24. XP needed for next Level: 24140
[10:56:53 AM] Visiting 26 PokeStops
[10:58:16 AM] PokeStop: Dan Jones Bluff
[10:58:42 AM] Magikarp with 14 CP and 29% IV got away..
[10:59:05 AM] PokeStop: Cliff Top

[2016-07-31 04:00] bozoweed commented on #618
@teezanateep1 you don't use my app ?

[2016-07-31 04:01] Ethan943 commented on #618
@deadbambi  I didn't see anything about Winrar, I have it, yes.. but I don't see extract anywhere. When i click his dropbox link it just downloads a .rar and if I open it I dont see extract or anything like that.

[2016-07-31 04:01] bozoweed commented on #618
![capture](https://cloud.githubusercontent.com/assets/11362992/17274499/441dbc5a-56e4-11e6-971b-839fc708124f.PNG)
google login and ptc work fine for me

[2016-07-31 04:02] starktony1 commented on #618
@deadbambi i add egg from POGO app and then start bot so it incubates as BOT walks :) . No functionality of egg adding here

[2016-07-31 04:02] bozoweed commented on #618
i go try to add it in the next day

[2016-07-31 04:03] starktony1 commented on #618
@bozoweed how to run more than one instances of this app

[2016-07-31 04:03] Ethan943 commented on #618
@bozoweed Bozo. I'm so lost. Where do I need to go to extract it... I don't see "winrar"or extract ANYWEHRE.

[2016-07-31 04:04] teezanateep1 commented on #618
Google Tell me. Someone try to Scammer my account in sigapore.

[2016-07-31 04:04] deadbambi commented on #618
aaah ok @starktony1  that explains it, yeah I have just recently put all my eggs into incubators manually while the bot was not working, so they should be done shortly ;)
thanks!

[2016-07-31 04:04] bozoweed commented on #618
@ starktony1 make multi folder one account per exe and folder ^^

[2016-07-31 04:04] Ethan943 commented on #618
@deadbambi yo, where tf is extract? I see it no where.

[2016-07-31 04:04] starktony1 commented on #618
ty @bozoweed . I will Do it .

[2016-07-31 04:05] fdlf5518 commented on #618
@bozoweed wow surprise~ your UI very nice
![fdbdf](https://cloud.githubusercontent.com/assets/20748564/17274506/c6f912f8-5727-11e6-9802-9837a4ec521f.PNG)

[2016-07-31 04:05] bozoweed commented on #618
@teezanateep1 :o

[2016-07-31 04:05] bozoweed commented on #618
thank you ^^ @fdlf5518

[2016-07-31 04:05] deadbambi commented on #618
yeah thats what I do also @starktony1  I have 4 folders, renamed them all after who they belong to...ones mine, then the wife, and 2 kids...then run each exe separately

[2016-07-31 04:05] Ethan943 commented on #618
@bozoweed Bozo, can you please help me!

[2016-07-31 04:05] Epic81 commented on #618
@bozoweed amazing job bro. nice update to pokemon inbox

[2016-07-31 04:06] bozoweed commented on #618
thank you @Epic81 :)

[2016-07-31 04:06] Ethan943 commented on #618
@bozoweed can you not ignore me please. I really do need help. I'm stuck

[2016-07-31 04:07] tkup09 commented on #618
I've been stuck on the "Starting force unban..." for about 10 minutes now. Any reason for this? I waited for the pokestops to pop up before I started force unban

[2016-07-31 04:07] deadbambi commented on #618
@Ethan943  http://bfy.tw/6zcm

[2016-07-31 04:07] bozoweed commented on #618
@Ethan943  i have try to help you but i don't a babysister please search by your own in google open or extract a rar file is not difuclt

[2016-07-31 04:08] bozoweed commented on #618
@tkup09 hummm i will go to try to see that

[2016-07-31 04:09] fdlf5518 commented on #618
@bozoweed mee too same LOG txt
[13:51:26 PM] PokeStop: May Gibbs Plaque
[13:51:45 PM] PokeStop: Xavier Herbert
[13:52:04 PM] PokeStop: Lachlan Macquarie Commemorative Plaque
[13:52:26 PM] Kakuna with 251 CP and 42% IV got away..
[13:52:31 PM] PokeStop: Government House Fountain
[13:52:47 PM] Waiting for last farming action to be complete...
[13:52:48 PM] Starting force unban...

[2016-07-31 04:10] bozoweed commented on #618
i go to see what is the probleme with the unban or use the old build for unban and my new build for play

[2016-07-31 04:10] Epic81 commented on #618
@ethan delete everything, download latest updated version. run, log in under settings google user and password, set location, speed 20-25. Start Bot
Be patient takes a bit to start then really picks up.
@bozoweed so far so good. xp/hr 10,455 pokemon/hour:42

[2016-07-31 04:11] Ethan943 commented on #618
@deadbambi Alright. I'm in debug,whatdo I click x.x

[2016-07-31 04:11] tkup09 commented on #618
It randomly started working! I'm all good. I love the "Fuck yes, you are now unbanned!" xP

[2016-07-31 04:12] bozoweed commented on #618
cause maybe by the lag server for the bug of the force unban http://ispokemongodownornot.com/

[2016-07-31 04:12] deadbambi commented on #618
usually when I have trouble unbanning, I just close the bot and restart it, then immediately hit unban after clicking the start bot button

@Ethan943 the next thing you need to do.....is let go of everyones hand, because we dont want to hold it for you

[2016-07-31 04:12] bozoweed commented on #618
@tkup09 so the forcu unban is not buged ?

[2016-07-31 04:12] Epic81 commented on #618
@bozoweed how do you have your setting for transfer type?
dont want to accidently erase my pokemon.
do the xs and xl pokemon matter even if they are weak cp?

[2016-07-31 04:14] tkup09 commented on #618
@bozoweed no I don't think so. I closed out completely and went back in a couple times and it started working. Still haven't been able to catch a pokemon since the update though even with your download. Not sure what my issue is there.

[2016-07-31 04:14] bozoweed commented on #618
@Epic81 i have keep the bigest cp (duplicate) but i think the IV is most intertsting so look on google about cp and IV for know how setting up you transfert type ^^

[2016-07-31 04:14] Charlieevox commented on #618
![capture](https://cloud.githubusercontent.com/assets/18612716/17274530/e068f5cc-570f-11e6-8d8f-aa35b1e72c50.PNG)

when i start program twice, this panel getting blank, any one help?

[2016-07-31 04:15] animesugoi commented on #618
Much thanks bozo ^^

[2016-07-31 04:15] Ethan943 commented on #618
@bozoweed Okay. I got it open and its working, Is there still a timer ? every hour do I still need to restart or can I run it all night>

[2016-07-31 04:15] tkup09 commented on #618
Just kidding, it just caught a pokemon.

[2016-07-31 04:16] bozoweed commented on #618
@Charlieevox rezise the window for have the status bar info make it more big

[2016-07-31 04:16] bozoweed commented on #618
@ Ethan943  you can let it run

[2016-07-31 04:17] Ethan943 commented on #618
@bozoweed thanks so much! I finally got it to work I think!

[2016-07-31 04:17] bozoweed commented on #618
Love that bot :D
![capture](https://cloud.githubusercontent.com/assets/11362992/17274542/7343ea84-56e6-11e6-93b5-0298ad437c33.PNG)

[2016-07-31 04:17] bozoweed commented on #618
@Ethan943 no problem bro

[2016-07-31 04:18] Ethan943 commented on #618
@bozoweed I see you're also in Sydney, at the circluar Quay

[2016-07-31 04:19] Charlieevox commented on #618
@bozoweed ty broo.. and i still QA this program and i get bug when sorting Poke UI.

![capture](https://cloud.githubusercontent.com/assets/18612716/17274546/a43e326e-5710-11e6-8377-d21104e61a68.PNG)

this UI not sort well :)

[2016-07-31 04:20] Ethan943 commented on #618
@bozoweed I'm in Sydney at the quay. only 20k exp and 60 pokemon per hour :(

[2016-07-31 04:22] bozoweed commented on #618
@Ethan943 yes it's my default setting don't worry they have a goof pokemon

[2016-07-31 04:22] bozoweed commented on #618
@Ethan943 you can go in santa monica behind los angeles ;)

[2016-07-31 04:23] bozoweed commented on #618
@ Charlieevox go to seeting and change the pixel size ^^

[2016-07-31 04:23] tkup09 commented on #618
Where do you guys think the best place to just let it run is? I'm in Toyko right now at about 12k xp/hr

[2016-07-31 04:24] eGeeked commented on #618
DisneyLand always does well for me.

[2016-07-31 04:25] Charlieevox commented on #618
@bozoweed yap i know dude, but if you see this sorting not run well, when after monkey then geodude?
"M" to "G"?  i think it was wrong :) but this bot is soo fucking amazing :)

[2016-07-31 04:25] bozoweed commented on #618
@ tkup09  sidney australia or santa monica america

[2016-07-31 04:26] bozoweed commented on #618
@ Charlieevox oh yes you right i haven't see that x)

[2016-07-31 04:29] Charlieevox commented on #618
@bozoweed but overall, grid view i try is good but just name when i try not running well, i guess it's sort by poke id or etc.

[2016-07-31 04:30] bozoweed commented on #618
@Charlieevox maybe

[2016-07-31 04:31] bozoweed commented on #618
what do think about the "Bag's Item" ?:)

[2016-07-31 04:34] beaujanglez727 commented on #618
@ bozoweed runing on alternate account and runs like a charm. Hopefull my main account isnt perma banned or something still wont update...

I really like the Pokemon UI and the sort options. Also the Bag Inventory is a nice touch. Great job!

[2016-07-31 04:36] bozoweed commented on #618
@beaujanglez727 continue to try to force unban because Charlieevox got finaly unbanned
thx for the feedback ^^

[2016-07-31 04:42] fdlf5518 commented on #618
what is the best setting??
i want keeping good MON
![setee](https://cloud.githubusercontent.com/assets/20748564/17274615/f29f1876-572c-11e6-9842-b5c9cd2f1eef.PNG)
my setting is now this one
 duplicated ? or IV?

[2016-07-31 04:45] bozoweed commented on #618
@fdlf5518 i don't know for that i think iv is better but you can get a pokemon with 10 cp and 98%IV so it's like you want

[2016-07-31 04:47] fdlf5518 commented on #618
@bozoweed thx bro
i try few account testing any option
and then i tell you~

[2016-07-31 04:51] bozoweed commented on #618
@fdlf5518 okey thx i wait you'r feedback for the IV or duplicate ^^

[2016-07-31 04:52] fdlf5518 commented on #618
@bozoweed ok ~ see you later 1 hour i testing now~

[2016-07-31 04:53] bozoweed commented on #618
@fdlf5518 okey no probleme ^^ enjoy bro

[2016-07-31 05:07] JackieTseng commented on #618
@bozoweed Hi, I wonder if I can set the transfer condition that I can retain all my pokemon before bot and just retain the high-iv (95% and above) for every kind of pokemon caught by the bot. Thx

[2016-07-31 05:12] bozoweed commented on #618
i will go to make an update to fix the force unban an make it mor faster :)

[2016-07-31 05:13] bozoweed commented on #618
@jackieTseng normaly yes

[2016-07-31 05:16] bozoweed commented on #618
fuck yes is more faster ^^

[code]

[2016-07-31 05:22] fdlf5518 commented on #618
amazing force unban system~Good^^

[2016-07-31 05:23] bozoweed commented on #618
thx i will go to upload the fix in my github ^^

[2016-07-31 05:24] bozoweed commented on #618
it's done ^^

[2016-07-31 05:25] killaristis commented on #618
@bozoweed can you give me the link for download the app exe readdy ? because i dont know hot to compile !!

[2016-07-31 05:26] bozoweed commented on #618
no probleme i upload you the last one with fix for more speed for the force unban

[2016-07-31 05:27] killaristis commented on #618
@bozoweed  thank you very match !!!

[2016-07-31 05:27] bozoweed commented on #618
@killaristis no probleme ^^

[2016-07-31 05:28] bozoweed commented on #618
https://www.dropbox.com/s/pf7ehfdepuzz57k/pokemon%20go%20bot%20api%20old%20ui.rar?dl=0

[2016-07-31 05:36] killaristis commented on #618
@bozoweed  why all pokemon run away ?

[2016-07-31 05:36] bozoweed commented on #618
@killaristis soft banned but don't worry use the force unban wait 5 minute and you will be unbanned :p

[2016-07-31 05:38] killaristis commented on #618
@bozoweed  thank you very much !! again !! :D

[2016-07-31 05:39] maithanhtan opened #626 "Error with google"
[code]

Can someone help me fix this issue? Thanks

[2016-07-31 05:39] bozoweed commented on #618
@killaristis no probleme ^^ enjoy :)

[2016-07-31 06:03] zeyuss commented on #618
@bozoweed I can't find the .exe file?

[2016-07-31 06:04] DetectiveSquirrel commented on #618
https://github.com/1461748123/Pokemon-Go-Rocket-API/releases/tag/v1.7.2.1

[2016-07-31 06:04] dariuspepo commented on #618
hey guys I know this is off topic, but seriously where can i found dratini?
damn :( really want have 1 dragonite

[2016-07-31 06:04] starktony1 commented on #618
@DetectiveSquirrel Downloading ty

[2016-07-31 06:06] zeyuss commented on #618
@DetectiveSquirrel 0pokemon/hr?

[2016-07-31 06:11] brianzhouzc commented on #617
Sorry, I can't

[2016-07-31 06:11] #617 closed, assigned to nobody

[2016-07-31 06:12] #618 closed, assigned to nobody

[2016-07-31 06:16] #607 closed, assigned to nobody

[2016-07-31 06:27] zeyuss opened #628 "Does bot work anymore?"

[2016-07-31 06:31] DetectiveSquirrel commented on #628
yes

[2016-07-31 06:31] #628 closed, assigned to nobody

[2016-07-31 06:31] zeyuss commented on #628
@DetectiveSquirrel doesn't work for me?
[18:31:44 p.m.] Null Refference - Restarting
[18:31:44 p.m.] Login Type: Google
[18:31:46 p.m.] Null Refference - Restarting
[18:31:46 p.m.] Login Type: Google

[2016-07-31 06:34] eddytjandraa opened #630 "Why is BOT not capturing pokemon?"
My title says it all, please help me :(

[2016-07-31 06:34] zeyuss opened #631 "help with null referencing?"
[18:13:17 p.m.] Null Refference - Restarting
[18:13:17 p.m.] Login Type: Google

[2016-07-31 06:36] killaristis commented on #630
Hi bot need update

Στάλθηκε από το smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Αρχικό μήνυμα --------</div><div>Από: eddytjandraa notifications@github.com </div><div>Ημερομηνία: 31/7/2016  09:34  (GMT+02:00) </div><div>Προς: 1461748123/Pokemon-Go-Rocket-API Pokemon-Go-Rocket-API@noreply.github.com </div><div>Θέμα: [1461748123/Pokemon-Go-Rocket-API] Why is BOT not capturing pok

[2016-07-31 06:36] mm1rza-zz commented on #630
check new update

[2016-07-31 06:42] Reisyukaku commented on #608
I'm not sure if this grabs the same JSON data as the python alternative script, but if so, its under GET_INVENTORY->inventory_delta->inventory_item_data->egg_incubators->egg_incubator.. start_km_walked is the total distance in km the player walked when this egg was incubated and target_km_walked is the total needed before it hatches.. you can do basic algebra to find out what distance egg it is an

[2016-07-31 06:46] starktony1 commented on #631
So much null referencing Broken Bot

[2016-07-31 06:47] zeyuss commented on #631
@starktony1 new one coming soon?

[2016-07-31 06:47] brianzhouzc commented on #630
Check new update

[2016-07-31 06:47] #630 closed, assigned to nobody

[2016-07-31 06:48] brianzhouzc commented on #631
wrong password.

[2016-07-31 06:49] zeyuss commented on #631
nah not wrong one it works fine with Gmail @1461748123

[2016-07-31 06:49] silvermaster30 commented on #631
after like 10 min then null reference

[2016-07-31 06:52] starktony1 commented on #631
@1461748123 after 10 minutes null referencing .

[2016-07-31 06:58] brianzhouzc commented on #631
PTC server currently down, :/ can't do much about it

[2016-07-31 06:58] yuripesh opened #632 "Transfer doesn't work"
I\m using the latest version
https://github.com/mfron/Pokemon-Go-Bot
And, it looks like the transfering doesn't work. I have tries the "duplicate" and "leaveStrongest" options, but I still have a lot of pidgey in my bag...

[2016-07-31 06:58] zeyuss commented on #631
oh makes sense

[2016-07-31 06:59] silvermaster30 commented on #631
ok so server down

[2016-07-31 07:09] brianzhouzc commented on #632
you are not using the code from the official repo

[2016-07-31 07:09] #632 closed, assigned to nobody

[2016-07-31 07:19] qqringo opened #633 "begin from today.the bot only walking to poke shop but havent catch any monster?"
anyone know what happen or i got banned?

[2016-07-31 07:20] killaristis commented on #633
Bot need update !! Check it

Στάλθηκε από το smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Αρχικό μήνυμα --------</div><div>Από: qqringo notifications@github.com </div><div>Ημερομηνία: 31/7/2016  10:19  (GMT+02:00) </div><div>Προς: 1461748123/Pokemon-Go-Rocket-API Pokemon-Go-Rocket-API@noreply.github.com </div><div>Θέμα: [1461748123/Pokemon-Go-Rocket-API] begin from today.the bot

[2016-07-31 07:24] animesugoi commented on #633
update your bot.. because niantic prevent instan throw pokeballl or something

[2016-07-31 07:28] Rommel-holmes opened #634 "Pokestop list can't be empty."
Right now we don't check pokestop is empty or not. so that by doing lambda, it will throw exception

System.InvalidOperationException: Sequence contains no elements
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source)
   at PokemonGo.RocketAPI.Window.RouteOptimizer.FindNN(IEnumerable`1 pokeStops, Double cLatitude, Double cLongitude) in C:\Users\Rommel\Desktop\Pokemon-Go-Rocket-API-mas

[2016-07-31 07:28] Rommel-holmes opened #635 "Once throw exception, stop the bot function disabled."
Can't "stop the bot" once there is an exception.

[2016-07-31 07:30] qqringo commented on #633
Tks guy i got it. but why i can find pokemon go rocket at below web site?https://github.com/DetectiveSquirrel

[2016-07-31 07:30] philip95chris opened #636 "pokeui is blank and showing error upon refresh"
![capture](https://cloud.githubusercontent.com/assets/20703197/17275248/b2bba876-5733-11e6-89fb-b83cef2f8e10.PNG)

[2016-07-31 07:34] qqringo commented on #636
same here

[2016-07-31 07:41] benwuhua commented on #626
the same as my Ptc account
[07:41:12 AM] Your version is 1.7.2.1
[07:41:12 AM] Github version is 1.7.2.1
[07:41:12 AM] You can find it at www.GitHub.com/1461748123/Pokemon-Go-Rocket-API
[07:41:12 AM] Login Type: Pokemon Trainers Club
[07:41:13 AM] Google.Protobuf.InvalidProtocolBufferException: SkipLastField called on an end-group tag, indicating that the corresponding start-group was missing
   a

[2016-07-31 07:41] ghost commented on #633
@qqringo Because @1461748123 has the repository now.

[2016-07-31 07:49] son242 opened #637 "Google refresh token"
I have Google refresh token but could not work . What must enter google account setup ? , I do not want to do that .

sorry for google translation

[2016-07-31 07:50] brianzhouzc commented on #634
thanks for the heads up, will fix that in the next build

[2016-07-31 07:51] brianzhouzc commented on #635
know issue, please download the latest hot fix

[2016-07-31 07:51] #635 closed, assigned to nobody

[2016-07-31 08:00] brianzhouzc commented on #636
gotcha, this is likely a server side error, but I will look into it

[2016-07-31 08:00] #633 closed, assigned to nobody

[2016-07-31 08:01] brianzhouzc commented on #626
try latest hot fix :)

[2016-07-31 08:01] #626 closed, assigned to nobody

[2016-07-31 08:05] philip95chris commented on #636
@1461748123 thanks Brian :)

[2016-07-31 08:06] haxxbard opened #638 "Sequence contains no elements"
Version 1.7.2.1
Login: PTC and Google
Description:
Getting "Sequence contains no elements" exception after bot is running a while (~15min).
Then looping "Login Type: Pokemon Trainers Club; Null Refference - Restarting".

Abstract from log:
`[08:56:42 AM] System.InvalidOperationException: Sequence contains no elements
   at System.Linq.Enumerable.First[TSource](IEnumerable1 source)
   at PokemonGo.

[2016-07-31 08:15] Rommel-holmes opened #640 "once in settings, there is a bug being set, you can't open the setting GUI again."
Should check setting parameter in save button function, if it is wrong, gives errors/warnings to user. then it will avoid "can't open GUI bug"

[2016-07-31 08:22] brianzhouzc commented on #638
The area you are in have no usable pokestops, I will simplify the exception in the next build so people knows whats going on

[2016-07-31 08:22] #638 closed, assigned to nobody

[2016-07-31 08:22] brianzhouzc commented on #640
Good idea, added to the todo list

[2016-07-31 08:24] haxxbard commented on #638
Hey @1461748123,

can't really believe that cause I get this error in Central Parc in NYC and in every other place I started the bot. Seems to be an route finding issue. Please reopen.

Thanks!

[2016-07-31 08:29] brianzhouzc commented on #637
yes you have to enter acc and pass

[2016-07-31 08:29] #637 closed, assigned to nobody

[2016-07-31 08:30] haxxbard commented on #638
Here's a log with a google login from NYC Central Parc:
[log.txt](https://github.com/1461748123/Pokemon-Go-Rocket-API/files/392321/log.txt)

[2016-07-31 08:33] son242 opened #641 "Login"
cant use my google refresh token

[2016-07-31 08:44] raotskuhh commented on #608
Would something like this do the trick or is this a false request?

var customRequest = new EggIncubator
            {
                ItemId = incubator.ItemId,
                IncubatorType = incubator.IncubatorType,
                ItemType = incubator.ItemType,
                PokemonId = egg.Id,
                StartKmWalked = totalWalkedDistance,
                TargetKmWalked = totalWalkedD

[2016-07-31 08:47] qqringo commented on #636
and also the map is not working

[2016-07-31 08:49] haxxbard commented on #631
Servers are up, if you restart the bot manually you won't get the error. So maybe restart occurs to fast?

[2016-07-31 08:49] raotskuhh commented on #608
What version of pokemongo rocketapi is being used btw? Cause feroxrev has more features now a days

[2016-07-31 08:55] WARIATELLO opened #642 "Bot doesn't catch ANY pokemons :V"
Hey. I've configured a bot and it only visit pokestops. Can anyone help me? Here is the creen from settings -
![xdddd1111](https://cloud.githubusercontent.com/assets/20701572/17275580/3b2fdece-570d-11e6-97fc-7e05606d893d.png)

[2016-07-31 08:59] Kagelol opened #643 "[Suggestion] Add Candy Amount to listview"
The new list with pokemon is good, but now we cannot see howmuch candy we have, possibly add this to the listview

[2016-07-31 09:09] WARIATELLO commented on #642
Here is another screen
![xddddd111111](https://cloud.githubusercontent.com/assets/20701572/17275634/35d3f756-570f-11e6-8be4-e8d169e11882.png)

[2016-07-31 09:16] ghost opened #644 "Suggestion: Recycle list improve"
Could you please add max potions and max revives to the recycle list?
Or if at least someone could show me how to do it myself since I suck at programming.

[2016-07-31 09:18] Ethan943 commented on #618
@dariuspepo I recommend Circular Quay, Sydney, Australia or go to san francisco and go to pier 39. Definetly spawns there.

[2016-07-31 09:24] raotskuhh commented on #644
**--> Latest version, find settings in App.config and replace with this (offcourse with your own wanted values):**

[code]

**--> Find the logic in Settings.cs and replace with this:**

private int MaxItemPokeBall => GetSetting() != string.Empty ? Convert.ToInt16(GetSetting()) : 500;
        private int MaxItemGreatBall => GetSetting() != string.Empty ? Convert.ToInt16(GetSetting()) : 500;

[2016-07-31 09:25] ghost commented on #644
Thanks!

[2016-07-31 09:25] #644 closed, assigned to nobody

[2016-07-31 09:36] aeon8993 commented on #643
@Kagelol , you can view how many candies you got , just hover your mouse pointer pointing at Evolve button , you can see how many candies you got for each of your pokemon.

Hope that helps

[2016-07-31 09:43] p3llucid3 commented on #621
Snipping dangerous, they said like that on Discord

[2016-07-31 09:47] p3llucid3 opened #645 "I dunno what's this"
![capture](https://cloud.githubusercontent.com/assets/20729719/17275787/2e1cf07e-573e-11e6-94eb-743c401158df.PNG)
then looping PTC login and null reference thing.

This happened after reach near the last pokestop.

[2016-07-31 09:54] i3acksp4ce opened #646 "[Suggestion] favorite pokemon"
sorry dev
you can add this feature for next version?  thank you

[2016-07-31 09:55] Kagelol commented on #643
Ahh i seee Sorry didnt know that :o

[2016-07-31 09:59] truimagz opened #647 "Find more Pokemon - Code"
PROOF
http://truimagz.com/bot.jpg

UPDATED ---2:04p.m.

Actually catch some damn Pokemon!

Line 528
How many time to look while at Pokestop, and how long to wait beetween looks

Line 444 is the same but at the Caught Pokemon location

---

Open MainForm.cs

SelectAll and delete

Replace with the following........ everything below this line

using System;
using System.Collections.Generic;
using Sys

[2016-07-31 09:59] brianzhouzc commented on #645
are you using the latest hot fix?

[2016-07-31 09:59] benwuhua opened #648 "Got Protobuf.InvalidProtocolBufferException"
Use the latest version.

[09:58:56 AM] Your version is 1.7.2.1
[09:58:56 AM] Github version is 1.7.2.1
[09:58:56 AM] You can find it at www.GitHub.com/1461748123/Pokemon-Go-Rocket-API
[09:58:57 AM] Login Type: Google
[09:58:58 AM] Google.Protobuf.InvalidProtocolBufferException: SkipLastField called on an end-group tag, indicating that the corresponding start-group was missing
   at Google.Protobuf

[2016-07-31 10:00] brianzhouzc commented on #642
Update to the latest version :)

[2016-07-31 10:00] #642 closed, assigned to nobody

[2016-07-31 10:00] #641 closed, assigned to nobody

[2016-07-31 10:03] soshimozi commented on #621
Yeah, haha, I'm one of the ones who warned about it.  Precisely why I was adamant against it in the beginning.  It has brought unwelcome attention which has affected the current bot.

[2016-07-31 10:10] onomatopejaeselu opened #649 "ItemId.ItemMaxRevive is still missing in configuration and Settings.cs"
Like in topic, there is no configuration for this item. It is gained at 30 lvl

[2016-07-31 10:14] onomatopejaeselu opened #650 "TransferType still don't work, wrong values in switchs"
Config:
<add key="TransferType" value="Duplicate" />

Code:
switch (ClientSettings.TransferType)
                {
                    case "Leave Strongest":
                        await TransferAllButStrongestUnwantedPokemon(client);
                        break;

ClientSettings.TransferType need to be setted as "Leave Strongest" instead "leaveStrongest" and there is problem from setting this

[2016-07-31 10:15] raotskuhh commented on #649
you can add it, see #644

[2016-07-31 10:26] #649 closed, assigned to nobody

[2016-07-31 10:26] brianzhouzc commented on #650
thanks for the report, will fix in the next build

[2016-07-31 10:27] #631 closed, assigned to nobody

[2016-07-31 10:27] WARIATELLO commented on #647
Can u give a screen how it should be looking like?

[2016-07-31 10:31] EskimoLV opened #651 ""Refresh" not working."
https://gyazo.com/46a2b1737180eb887eca12358436d64c

[2016-07-31 10:35] #651 closed, assigned to nobody

[2016-07-31 10:53] biostalker01 commented on #471
Hi, how to set do not transfer specified pokèmon??

[2016-07-31 11:22] Senospear opened #653 "[SUGGESTION] Unlimited Lucky egg Period + RARE POKEMON Locator + Bag Customization"
Unlimited Lucky eggs
i just saw an YT vid in which a guy increase timings as per requirement n uses Lucky Egg it can help us a lot so can we program our bot such that it has an artifical clock n increases timings as per the requirements so we can use it as much as we want

Rare Pokemon
I can manage to make a pokemap which get the poke spawns of pokemons can we program it such that we get an notifi

[2016-07-31 11:30] speti4 commented on #648
Same here. Any idea to solve?

[2016-07-31 11:32] sh1RoKenx opened #654 "[Request] Evolve some pokemons before transfering"
Could you please consider adding a feature to evolve some of the unwanted pokemons before transfering. For example: I don't want to evolve Eevies before transfering, but I want to evolve 12candy pokemons and Zubats.
For myself (I am using Transfer Type IV) I came up with this.

New condition added to EvolveAllGivenPokemons for evolving only several pokemons:

[code]

and in TransferAllGivenPokemon

[2016-07-31 11:41] wsalim1610 commented on #653
for the unlimited lucky eggs and rare pokemon locator, we can't do that. Bot is not cheating tools where you can modify just anything that is not actually exists on the real apps. Bot is only made to 'replicate' players activity.

bag customization, yes that's already on my plan since I started contributing to this. That's why I extract the item limit to the App.config so it can be changed without

[2016-07-31 11:59] onomatopejaeselu opened #655 "Sorting pokemon list in GUI by Name column sorts using PokemonId instead of real name"
Like in topic, i know it's not critical, just reporting.

[2016-07-31 12:53] maisdesign opened #656 "No way to login with 2 fact auth"
Using Google login the bot get stuck before the login if the account has a 2 fact auth access.

[2016-07-31 13:02] aconite33 opened #657 "Refresh Auth Token No longer works"
Can't get a refresh token to work anymore an no longer generates a code.

[2016-07-31 13:07] brad0pitt commented on #650
how about multi evo/transfer like previous version? @1461748123

[2016-07-31 13:17] omurik opened #658 "I CANT USE IT WITH MY PTC ACCOUNT"
When ı start the bot i use it with my google account but when i try to use ptc account it says nothing.it is just waiting and nothing happens.What is the problem?

[2016-07-31 13:45] Epic81 commented on #658
null refference- restarting error how to fix?

[2016-07-31 13:45] Mamabox22 commented on #656
me 2 but i cant fix it ..

[2016-07-31 13:57] Epic81 opened #659 "null reference error"
how to fix error?

[2016-07-31 14:00] animesugoi commented on #659
i use bozo version and its work perfectly...
maybe some bug

[2016-07-31 14:00] Epic81 commented on #659
bozo link please?

[2016-07-31 14:12] maisdesign commented on #656
Maybe a workaround could be generating an app specific pass (didn't tested
yet). It works with other bots.

2016-07-31 15:45 GMT+02:00 Michael Seidel notifications@github.com:

[2016-07-31 14:14] supertx2 opened #660 "Null Refference - Restarting"
This happens after 15\30 mins,
the exception occurs in: await client.GetServer(); , and its looping
![image](https://cloud.githubusercontent.com/assets/13727650/17277035/3b0aff86-5731-11e6-9b06-57c3da485634.png)

![image](https://cloud.githubusercontent.com/assets/13727650/17277026/0805c60c-5731-11e6-91af-069928a6eed4.png)

[2016-07-31 14:48] mrlongttvn commented on #656
didn't work. tried with app pass

[2016-07-31 15:09] mm1rza-zz commented on #660
same problem

[2016-07-31 15:14] Epic81 commented on #618
@bozoweed can you make an option to enable or disable pokestops i would like the bot to catch pokemon only

[2016-07-31 15:15] BillOatman opened #661 "System.InvalidOperationException: Sequence contains no elements"
[11:01:55 AM] System.InvalidOperationException: Sequence contains no elements
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source)
   at PokemonGo.RocketAPI.Window.RouteOptimizer.FindNN(IEnumerable`1 pokeStops, Double cLatitude, Double cLongitude) in C:\Stuff\Pokemon\DetectiveSquirrel\PokemonGo\RocketAPI\Window\RouteOptimizer.cs:line 131
   at PokemonGo.RocketAPI.Window.RouteOptimizer

[2016-07-31 15:17] Epic81 commented on #618
@dariuspepo go to santa monica pier using bluestacks and fake gps. I caught a Dragonite yesterday at the pier. If you teleport to the beach right before hitting the water alot of dragonaires and magikarp appear.

[2016-07-31 15:21] BillOatman opened #662 "The country and area displayed fails all the time and adds no value."
It fails because you are using the demo account.  It really adds no value anyway.  I just comment out these lines.   I suggest removing them.

[code]

[2016-07-31 15:21] 5PRO5KOMP5 commented on #658
Here is Tut how to install latest version: https://www.youtube.com/watch?v=aFHJAYVQTso

[2016-07-31 15:30] sredlin commented on #643
would be great if this is in the lists without hovering over evolve, a nice feature would be also if we can see how many candys are needed to evolve the specific pokemon

[2016-07-31 15:49] bozoweed commented on #662
it's work we just have too much use the api geolocation so we must to create an other account for continue to use it

[2016-07-31 15:51] bozoweed opened #663 "help me to get a perfect project with old ui"
hi everyone i work on the old ui if you love it too you can help to fix and add feature on it it's work at 98%
i think we can make it work more perfectly thank for you'r help
 https://github.com/bozoweed/Pokemon-Go-Rocket-API-1

[2016-07-31 15:57] bozoweed commented on #659
https://github.com/bozoweed/Pokemon-Go-Rocket-API-1

[2016-07-31 15:57] bozoweed commented on #660
https://github.com/bozoweed/Pokemon-Go-Rocket-API-1

[2016-07-31 15:58] bozoweed commented on #647
it's work ?

[2016-07-31 16:02] bozoweed commented on #659
@animesugoi thx to use my ui version please make isue if you seen some bug

[2016-07-31 16:20] truimagz commented on #647
Just updated the post, the post shows like half of it in code blocks and half not, it's like broken.

Just copy every below where it says this line, ignore how the post makes it look broken.

[2016-07-31 16:25] Anybal opened #664 "my bot will not start ."
Hi, . When I run it a strange errror.

[2016-07-31 16:25] animesugoi commented on #663
i would like to see egg hatching system and poke ui that can see pokemon skill set

sry for bad english

[2016-07-31 16:27] bozoweed commented on #663
sure i would like too ^^
don't worry i have great understud what you say :)

[2016-07-31 16:31] bozoweed commented on #663
@mfron you speak to detectivesquirell ? if you want i can fusione you ui with mine in beta build

[2016-07-31 16:36] BillOatman commented on #647
Delta's from the original would probably be better that posting the complete file.

[2016-07-31 16:37] Xrymz commented on #656
app pass work perfect, use https://security.google.com/settings/security/apppasswords

[2016-07-31 16:49] markdepalma commented on #657
Same here

[2016-07-31 16:58] truimagz commented on #647
Sorry, I'm not smart enough to figure out this forum.

Maybe someone can add this to the settings in the bot app? I couldn't figure it out.

[2016-07-31 16:58] BillOatman commented on #664
I reported this a little while before you did.  You probably want to change your location to someplace like a university because where you are not has no pokestops in the area.  But this is my proposed fix from my post:

I believe a fix is something like ("if" part added):
            LatLong startingLatLong = new LatLong(ClientSettings.DefaultLatitude, ClientSettings.DefaultLongitude);

[2016-07-31 17:39] Grunkhead commented on #657
You don't need it anymore.

[2016-07-31 17:43] kaster44 commented on #663
@mfron It is me again. Can you upload a build exe file for your bot please :D I tried msbuild.exe but did not achieve.

[2016-07-31 18:04] dm18 opened #666 "pokeystops with no name?"
I've seen this pop up a few times in the farming log.

[10:56:50 AM] , XP: 50

It's in the same blue color as other pokey stops.
And it seems to happen in multiple locations.

[2016-07-31 18:24] FernandezR opened #667 "No mass transfer or evolve with new PokeUI"
Would it be possible to add the previous pokeui to the project, as it allows for selecting multiple pokemon before transferring and evolving?

[2016-07-31 18:25] brianzhouzc commented on #664
Fixed in latest beta-build

[2016-07-31 18:25] #664 closed, assigned to nobody

[2016-07-31 18:28] brianzhouzc commented on #660
fixed issue

[2016-07-31 18:28] #660 closed, assigned to nobody

[2016-07-31 18:28] brianzhouzc commented on #661
thanks, fixed in latest beta build

[2016-07-31 18:28] #661 closed, assigned to nobody

[2016-07-31 18:29] brianzhouzc commented on #662
I already have a separate account set up for that, but it went out of limit again :/

[2016-07-31 18:29] #662 closed, assigned to nobody

[2016-07-31 18:30] #659 closed, assigned to nobody

[2016-07-31 18:30] #657 closed, assigned to nobody

[2016-07-31 18:30] brianzhouzc commented on #658
use the god damn latest version

[2016-07-31 18:30] #658 closed, assigned to nobody

[2016-07-31 18:31] brianzhouzc commented on #656
app pass is the solution

[2016-07-31 18:31] #656 closed, assigned to nobody

[2016-07-31 18:31] brianzhouzc commented on #655
gotcha, will fix in next build

[2016-07-31 18:32] brianzhouzc commented on #654
But whats the point?

[2016-07-31 18:35] brianzhouzc commented on #647
:/ please use pull requests..

[2016-07-31 18:35] #647 closed, assigned to nobody

[2016-07-31 18:35] #643 closed, assigned to brianzhouzc

[2016-07-31 18:36] happysam5 opened #668 "How many Candies?"
Love the version you've built but how can i see how many candies i have in the new UI?

[2016-07-31 18:40] happysam5 commented on #667
also is there anyway to show the candies in the new UI?

[2016-07-31 18:43] AntonNel commented on #653
It's been confirmed that the unlimited timer is purely a clientside visual.  The timer expires as normal.

[2016-07-31 18:44] ggrentz commented on #668
when you hover over the evolve button it shows you

[2016-07-31 18:45] truimagz opened #669 "Catch damn Pokemon! - WorkingGo Release"
I've set it to wait a damn minute at the Pokestops, and keep looking.

It's extremely useful if you don't want your bots level 25 with crap Pokemon, or even if you just want to go somewhere and farm and stop moving for a damn minute.

Screenshot-
http://truimagz.com/bot.jpg

Release-
http://truimagz.com/Release.zip

I encourage someone to add this feature into the settings, meez too stupid.

[2016-07-31 18:49] BakedXTHC opened #670 "Error Run time services"
[19:44:03 PM]    at PokemonGo.RocketAPI.Window.MainForm.<Execute>d__34.MoveNext() in D:\Downloads\Pokemon-Go-Rocket-API-master (9)\Pokemon-Go-Rocket-API-master\PokemonGo\RocketAPI\Window\MainForm.cs:line 277
[19:44:03 PM] Null Refference - Restarting
[19:44:03 PM] Login Type: Google
[19:44:04 PM] System.NullReferenceException: Object reference not set to an instance of an object.
   at PokemonGo.R

[2016-07-31 18:49] sh1RoKenx commented on #654
Evolving gives you 500 XP. So, instead of transfering all pidgeys, you can evolve every fourth of them and receive 900 XP instead of 400 every 4 pidgeys/weedles/caterpies.

[2016-07-31 19:23] BillOatman opened #671 "Map on main page does not behave properly when location changed until app restart"
I messed around trying to get the map to display properly but didn't have any luck. So I cheated and did this to SettingsForm.cs saveBtn_Click method:

Added the first 2 lines:
            string saveLatitude = ConfigurationManager.AppSettings["DefaultLatitude"];
            string saveLongitude = ConfigurationManager.AppSettings["DefaultLongitude"];
            Settings.Instance.SetSetting(latitu

[2016-07-31 19:26] #668 closed, assigned to nobody

[2016-07-31 19:26] #669 closed, assigned to nobody

[2016-07-31 19:40] brianzhouzc commented on #654
good point, will add to my to-do bucket :D

[2016-07-31 19:46] ChrispyBanana opened #673 "Evolve text and xp bug"
[15:45:00 PM] Evolved 1 pieces of Eevee for 1000xp
[15:45:03 PM] Evolved Eevee successfully for 1000xp
[15:45:03 PM] Evolved 1 pieces of Eevee for 1000xp
[15:45:13 PM] Evolved Paras successfully for 1000xp
[15:45:13 PM] Evolved 1 pieces of Paras for 1000xp

Instead of saying Received 1 piece of candy it says evolved 1 piece

[2016-07-31 19:56] ChrispyBanana commented on #673
Also xp/hour doesnt calculate from evolution xp so its 0xp/hr when im evolving
http://i.imgur.com/wLxrKwi.png

[2016-07-31 19:56] RuddyOne commented on #648
Also get this error.

[2016-07-31 20:02] lotsobearfreshtea opened #674 "sequence contains no elements?"
after sometime, a long text comes up sequence contains no elements.

all in red writing.

any ideas?

[2016-07-31 20:20] ghost commented on #674
The same thing has been reported in #645

[2016-07-31 20:37] VinceeeH opened #677 "Not showing candys since update."
I have the newest bot, but it doesnt show how much candys my pokemon has... Or am i doing something wrong?!

[2016-07-31 20:52] kaster44 commented on #663
@mfron thank you so much bro.

[2016-07-31 20:52] brianzhouzc commented on #673
gotcah, added to todo bucket

[2016-07-31 20:53] VoLandMonk opened #678 "authority"
how i may authority if my google acc 2 stage autorisation? with sms

[2016-07-31 21:08] Kagelol commented on #667
Candy's show when u hover over the evolve button

[2016-07-31 21:08] Kagelol commented on #677
Candy's show when u hover over the evolve button

[2016-07-31 21:09] Decrame opened #679 "Can I modify map coverage?"
Hello, is there a way to change the red squares(coverage) on the map.  The bot is not covering 2 important spots (gyms with pokestops next to them). I've marked them for easier understanding. Thank you.
![image](https://cloud.githubusercontent.com/assets/20758698/17279426/288fea9c-577c-11e6-8cd8-d7d8cfb9252d.png)

[2016-07-31 21:22] siker6155 opened #680 "error while ctrl + f5"
Severity    Code    Description Project File    Line    Suppression State
Warning CS4014  Because this call is not awaited, execution of the current method continues before the call is completed. Consider applying the 'await' operator to the result of the call. PokemonGo.RocketAPI C:\Users------\Desktop--------\Pokemon-Go-Rocket-API-master\PokemonGo\RocketAPI\Client.cs 494 Active

[2016-07-31 21:24] #680 closed, assigned to nobody

[2016-07-31 21:25] #677 closed, assigned to nobody

[2016-07-31 21:36] seriousamy commented on #667
+1 for mass transfering!

[2016-07-31 21:50] jgizle opened #681 "Non-stop hitting pokestops"
Is there a reason why it does nothing but constantly hit pokestops.

https://i.imgur.com/vtYh3Yg.png

[2016-07-31 22:06] Epic81 commented on #618
Question: Does the travel speed in settings make a difference?

[2016-07-31 22:58] bingoko commented on #618
@bozoweed  LOL, you copy my code and claim it's your work... The copy is not perfect... There is is a sorting bug. Check my latest code!

@Charlieevox   and @fdlf5518  you can pull from my repo.

[2016-07-31 22:59] qqringo opened #682 "At the lastest version the real time map become not work again"
same as topic :) just report.

[2016-07-31 23:12] brianzhouzc commented on #681
seems like a really old version, try updating it bot

[2016-07-31 23:15] bozoweed opened #683 "for the old ui with new fix and add some more feature"
this my reposit https://github.com/bozoweed/Pokemon-Go-Rocket-API-OLD-UI
i work on old ui and i fix hil and add some new feature you are welcome to help me and use it :)

[2016-07-31 23:23] Mikki-10 opened #684 "Feature add whitelist to GUI"
Add a whitelist to GUI on what pokemons there is allowed for transfere instead of manual need for adding and changening of code on line 710 in MainForm.cs add it to the gui and put it in a file :)

because this is a bit stupet and only works for TransferAllButStrongest or having it to be adding to all the types :) so please add to gui :)

[code]

[2016-07-31 23:25] brianzhouzc commented on #683
you should fork this repo so people can find your repo here... I'm closing this because this is not a "issue"

[2016-07-31 23:25] #683 closed, assigned to nobody

[2016-07-31 23:26] brianzhouzc commented on #667
added to todo bucket

[2016-07-31 23:26] #634 closed, assigned to brianzhouzc

[2016-07-31 23:27] killaristis commented on #683
Can you upload again the bot because i dont know how to compile it i want it ready for exctract it if you can pliss !!

Στάλθηκε από το smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Αρχικό μήνυμα --------</div><div>Από: bozoweed notifications@github.com </div><div>Ημερομηνία: 1/8/2016  02:15  (GMT+02:00) </div><div>Προς: 1461748123/Pokemon-Go-Rocket-API Pokemon-Go-Rocket-API@nore

[2016-07-31 23:31] iN3x0R opened #685 "doesn't transfer below 500."
![4b18a461558e4ee4a2c598d15bc5d350](https://cloud.githubusercontent.com/assets/20595162/17280079/6ea648d6-5787-11e6-8cf9-b4ca3310c6e7.png)

I have a a lot of pokemon **under cp 500**. like 15~20.
It only take 6 ?!
I'm using the latest version [1.7.3.0]

[2016-07-31 23:33] shiraori opened #686 "Pokemon Window UI (by bingoko)"
[This version of pokemon window (by bingoko)](https://github.com/1461748123/Pokemon-Go-Rocket-API/pull/568) is the best one so far, imo. My reason is because you can bulk processing  your pockemons with the check box function. It makes things like lucky egg evolve more efficient. It saves you from the wait for the grid to refresh, and the time needed to scrolling around to find the next pokemon yo

[2016-07-31 23:44] bnt44 commented on #636
same here, any progress?

[2016-07-31 23:45] divinepwner opened #687 "Suggestion for new release"
Can you please add auto Force Unban in next release ? Its gonna be huge huge thing. We can sleep after starting the bot :+1:

[2016-07-31 23:51] BakedXTHC opened #688 "[Suggestion] Just a thought"
Is there any chance that eggs could be implemented so that we can incubate them while in the hack instead of having to transfer into the Application on our devices then resume the bot again..?

[2016-07-31 23:53] brianzhouzc commented on #650
@onomatopejaeselu I didn't see a problem in the code. Can you give more specific information to help me locate the bug?

[2016-08-01 00:21] brianzhouzc commented on #685
it only transfers the pokemon you catch after the settings. previous pokemons wont get transferd

[2016-08-01 00:21] #685 closed, assigned to nobody

[2016-08-01 00:22] #686 closed, assigned to nobody

[2016-08-01 00:22] brianzhouzc commented on #687
Added to todo bucket

[2016-08-01 00:23] brianzhouzc commented on #688
Its in the todo bucket, we can't do it now because the API is outdated. We will do it after we update the api.

[2016-08-01 00:23] #688 closed, assigned to nobody

[2016-08-01 00:23] rodr1wow commented on #687
if catchflee>2
autouban=true;
DONE :P

[2016-08-01 00:32] itsff commented on #678
You can use app specific passwords. Follow Google's help here:
https://support.google.com/accounts/answer/185833?hl=en

[2016-08-01 00:40] user8285 opened #689 "WtF?"
Transfer does not work at all. Annoying as hell doing it manually. Is there a fix for transfers? It seems like every time a new feature is added or update comes out we run into more bugs and features not working. Can we concentrate on fixing the stuff that is broken before we continue adding more stuff to the bot.

[2016-08-01 00:59] anniexyz opened #690 "whitelisted pokemons still getting transfered"
I'm trying to change my whitelist to include specific pokemons, but everything gets transferred anyways. Help? Is there another section of the code I have to change, or is this a known issue?
![](https://puu.sh/ql3zt/d17f7e771f.png)

[2016-08-01 01:08] psychomm opened #691 "Speed ban risk?"
Is there a limited speed before I get softban? Like 100 km/h?

[2016-08-01 01:26] ianjjhsiao opened #692 "New transfer type"
Can you please add a new transfer type that combines duplicate and IV, so that the bot keeps both the highest CP Pokemon and the highest IV percentage Pokemon, so you would have two of each Pokemon, one of the highest CP and one of the highest IV.
Thanks!

[2016-08-01 01:48] Zm0n commented on #691
I haven't had an issue running @ 250, though obviously that's playing with fire.

[2016-08-01 02:06] brianzhouzc commented on #689
you provided no useful information for me to solve the error or bug. stop being mad if you have nothing to contribute to this project.

[2016-08-01 02:11] #691 closed, assigned to nobody

[2016-08-01 02:12] #678 closed, assigned to nobody

[2016-08-01 02:12] brianzhouzc commented on #682
yeah it happens when you save your settings, will fix that in the next version

[2016-08-01 02:13] brianzhouzc commented on #679
sadly you can't.. change your location settings instead. this is an api limit

[2016-08-01 02:13] #679 closed, assigned to nobody

[2016-08-01 02:54] animesugoi commented on #687
egg haching system and poke ui that can see skill set please

[2016-08-01 03:58] user8285 commented on #689
@1461748123 1st of all, outstanding job on your creation. Its not perfect but it definitely is getting closer! I'm not mad, just annoyed. Specifically in windows mode with your current version.. Transfers of pokemon do not work. And it's obvious that there are several other users with the same issue and the issue has not been addressed as of yet. The issue is Transfers of pokemon. It doesn't matte

[2016-08-01 04:06] DarkenedMatter opened #693 "Odd error"
[23:04:21 PM] System.NullReferenceException: Object reference not set to an instance of an object.
   at PokemonGo.RocketAPI.Client.<SetServer>d__32.MoveNext() in C:\Users\Brian\Documents\Visual Studio 2015\Projects\Pokemon-Go-Rocket-API\PokemonGo\RocketAPI\Client.cs:line 402
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwai

[2016-08-01 04:08] DarkenedMatter commented on #693
As you can see it says Brian under C:\Users\ and I'm guessing that's you @1461748123 but I'm not sure why it's doing that as it will cause errors for people who aren't Brian. :+1:

[2016-08-01 04:09] brianzhouzc commented on #693
creepy... will look into that

[2016-08-01 05:02] koubie opened #694 "How to add the Not To Transfered list in the program.cs?"
![snapshot_2016-07-31_220148](https://cloud.githubusercontent.com/assets/20736025/17283895/7bb64836-576a-11e6-9a5d-3d016af8d11b.png)
I dont see where to add it
please help
thank you

[2016-08-01 05:16] eXhausted opened #695 "Long start"
[code]

It takes around 4 minutes to start. Why does it take so long?

I've checked log and found that it maybe fails first GetMapObjectsResponse and wait 4 minutes until next request?

UPD: This is all because EvolveAllGivenPokemons method, any suggestions how to optimize this?

[2016-08-01 05:48] soshimozi commented on #689
1st of all it's not @1461748123 creation.  Shoulders of giants.  This was code forked from Necromonicon and then enhanced by DetectiveSquirrel.  @1461748123  was a contributor who I guess DS gave the repo to (you can transfer ownership in git).  Finally Necromonicon based his off the great Protos that were created by AeonLucid.  There is an npm and nuget package in fact for POGOProtos that many of

[2016-08-01 05:58] onomatopejaeselu commented on #650
Config suggest to use fallowing transfer types

(App.config):
none/cp/iv/leaveStrongest/duplicate/all Whitelists/blackslists
<add key="TransferType" value="" />

This setting is mapped to string in (Settings.cs)
public string TransferType => GetSetting() != string.Empty ? GetSetting() : "none";

Then it is compared to values in switch-case in MainForm.cs at 324 and 489.
Comparsions of strings is c

[2016-08-01 06:52] ghost commented on #690
Neither does it work for me.

[2016-08-01 07:40] Techio44 opened #697 "[Request] Possibility for choose the trajectory"
Hi,
I would like to know if you can add the possibility of change the trajectory of the avatar?

Thanks.

[2016-08-01 07:46] pocki opened #698 "System.OutOfMemoryException"
I am getting an System.OutOfMemoryException when clicking on "Refresh".
Bot is normally working but throws System.OutOfMemoryException when clicking on "Refresh" also after restart before starting the bot.

Stacktrace: [09:44:06 ] System.OutOfMemoryException: Nicht genügend Arbeitsspeicher.
   bei System.Drawing.Image.FromFile(String filename, Boolean useEmbeddedColorManagement)
   bei PokemonGo.R

[2016-08-01 07:49] thuantocode commented on #695
It's because the distance to the first pokestop in the list is far and it waits based on TravelSpeed.  To shorten it, order the list by the distance from current position.
E.g. in ExecuteFarmingPokestopsAndPokemons method in MainForm.cs

`foreach (var pokeStop in pokeStops.OrderBy(p => currentPosition.GetDistanceTo(new GeoCoordinate(p.Latitude, p.Longitude))))`

Where currentPosition is a GeoCoord

[2016-08-01 07:52] thuantocode commented on #698
Try deleting the image it's trying to load from your sprites folder.

[2016-08-01 08:02] pocki commented on #698
Thanks, deleted everything in sprites folder and its working again.
There was a corrupt image in the folder

[2016-08-01 08:02] #698 closed, assigned to nobody

[2016-08-01 08:06] Seraish opened #699 "Pokeballs and other itemes"
What is responsible for setting the bot is not deleted from the inventory pokeballs?

[2016-08-01 08:09] logixa opened #700 "Using Razz berry unnecessary"
The recent version seems to be using a razz berry on every pokemon it encounters. It used an razz berry on a 30cp rattata, 104cp omanyte and etc.

The setting for razz berry was set on 4 and I changed it to 0.4 and it still occurs. Any ideas?

[2016-08-01 08:13] wouthuib opened #701 "ArgumentOutOfRangeException"
Hi All,

Please be informed that somewhere in the code there is an ArgumentOutOfRangeException which makes the program restart. This happens quite frequently. Perhaps it is an good idea to make the exception catch handlers write the line in the code where the error is thrown. This can help us to provide more details where to improve the code. I can also start the debugger myself and place some bre

[2016-08-01 08:16] brianzhouzc commented on #701
I did that in the last build. People just freaks out. I have to simplify the code to this to let them know this is not a big deal. For devs, you can just edit the code to show the full ex, really easy :)

[2016-08-01 08:16] #701 closed, assigned to nobody

[2016-08-01 08:16] brianzhouzc commented on #699
in the config file
![image](https://cloud.githubusercontent.com/assets/6280864/17287625/a1351e32-5785-11e6-8f77-8d86ab42c0c5.png)

[2016-08-01 08:16] #699 closed, assigned to nobody

[2016-08-01 08:17] brianzhouzc commented on #697
don't understand what you are talking about

[2016-08-01 08:18] brianzhouzc commented on #695
I believe thats the issue. Closing this now.

[2016-08-01 08:18] #695 closed, assigned to nobody

[2016-08-01 08:18] #694 closed, assigned to nobody

[2016-08-01 08:20] brianzhouzc commented on #684
Thanks, put it into the todo list

[2016-08-01 08:20] #681 closed, assigned to nobody

[2016-08-01 08:20] #674 closed, assigned to nobody

[2016-08-01 08:28] Seraish commented on #699
no limit value 0 ? or need nubers?

[2016-08-01 08:31] Techio44 commented on #697
sorry i'm not very good in english.
So when I enter a position I have a "trajectory":
![screenshot_1](https://cloud.githubusercontent.com/assets/20610245/17287983/f8ebd4ac-57d2-11e6-964b-178bec5d87f1.png)
I would like to know if you can add the possibility of change it like that:
![screenshot_2](https://cloud.githubusercontent.com/assets/20610245/17288004/10757fd8-57d3-11e6-90c4-a4dd8aac1574.png)

[2016-08-01 08:43] logixa commented on #700
I've just noticed something, as soon as the bot starts the setting is set to 4 again. I've tried to change it while its running and while it has been stopped but the bot seems to put it back on 4 again every time.

[2016-08-01 08:51] evgenyefimkin opened #702 "Not able to edit a list of transferred pokemons"
It should be in the progam.cs file, but, I cannot see any arrays of pokemons in it.

[2016-08-01 08:58] brianzhouzc commented on #700
will look into it, thanks for the report

[2016-08-01 08:59] brianzhouzc commented on #697
sorry, that won't be possible :( this is an API limit. The only thing you can do is change your location.

[2016-08-01 08:59] #697 closed, assigned to nobody

[2016-08-01 09:00] brianzhouzc commented on #689
I will look into the issue, thanks for @soshimozi 's explanation :D

[2016-08-01 09:04] raotskuhh opened #703 "Bigger route | Start at exact given location"
**->** Is it possible to expand the route that is chosen by the application to catch a bigger radius (to catch more pokemon)?

**->** Option if we want a route calculated or just start at the exact giving coordinates (like when i hear of a spot where a good pokemon currently is, i cant hit that spot because it calculates where to start)?

[2016-08-01 09:17] brianzhouzc commented on #703
Expanding the route won't be possible, but starting at an exact giving coordinates will be something to add in a later build :)

[2016-08-01 09:18] #702 closed, assigned to nobody

[2016-08-01 09:19] Xlich69 opened #705 "TransferCPThreshold + IV"
When select cp transfer bot don't transfer pokemon over 80% IV
- can you add two value to check.  cp transfer and IV at same time. So bot will check cp of pokemon if below threshold and then it will check IV threshold (right now it work like that but we can't change IV)

[2016-08-01 09:19] brianzhouzc commented on #692
Added to todo bucket

[2016-08-01 09:22] #705 closed, assigned to nobody

[2016-08-01 09:24] brianzhouzc commented on #670
use latest build

[2016-08-01 09:24] #670 closed, assigned to nobody

[2016-08-01 09:24] #666 closed, assigned to nobody

[2016-08-01 09:25] #663 closed, assigned to nobody

[2016-08-01 09:27] #653 closed, assigned to brianzhouzc

[2016-08-01 09:27] brianzhouzc commented on #648
use latest build thanks

[2016-08-01 09:27] #648 closed, assigned to nobody

[2016-08-01 09:27] brianzhouzc commented on #646
Added to todo list

[2016-08-01 09:28] #645 closed, assigned to nobody

[2016-08-01 09:28] Uyauuu commented on #700
Try checking which Razzberry mod you are using.

[2016-08-01 09:30] raotskuhh commented on #703
Cool! Thnx

[2016-08-01 09:41] Uyauuu commented on #700
@logixa you sure you pressed save?

[2016-08-01 09:55] Sygix opened #706 "No setting for Recycle"
We didn't have a setting to desactivate the recycle mode.

[2016-08-01 09:58] brianzhouzc commented on #706
We do, check the config file

[2016-08-01 09:58] #706 closed, assigned to nobody

[2016-08-01 10:01] brianzhouzc commented on #493
in settings

[2016-08-01 10:01] #493 closed, assigned to nobody

[2016-08-01 10:01] #495 closed, assigned to nobody

[2016-08-01 10:01] elffish opened #707 "Has the filter for catching and transferring been added? Thank you!"
Too many zubats, I can't breathe.

[2016-08-01 10:01] #497 closed, assigned to nobody

[2016-08-01 10:01] #496 closed, assigned to nobody

[2016-08-01 10:02] #500 closed, assigned to nobody

[2016-08-01 10:04] #501 closed, assigned to nobody

[2016-08-01 10:04] #502 closed, assigned to nobody

[2016-08-01 10:04] #505 closed, assigned to nobody

[2016-08-01 10:07] #508 closed, assigned to nobody

[2016-08-01 10:08] Uyauuu commented on #640
@Rommel-holmes more information needed to fix this.

[2016-08-01 10:08] #511 closed, assigned to nobody

[2016-08-01 10:08] #512 closed, assigned to nobody

[2016-08-01 10:09] #515 closed, assigned to nobody

[2016-08-01 10:09] #517 closed, assigned to nobody

[2016-08-01 10:09] #519 closed, assigned to nobody

[2016-08-01 10:10] #523 closed, assigned to nobody

[2016-08-01 10:10] #527 closed, assigned to nobody

[2016-08-01 10:10] #528 closed, assigned to nobody

[2016-08-01 10:24] logixa commented on #700
Hi guys,

Yeah i pressed save several times and reopened the settings again to find that it has resetted back to 4. Another thing I noticed now is, when I set the number to 0, it stays at 0.

Methods I tried;
start program.exe and change razz berry setting in settings from 4 to 0.4 > Result: Resetted itself within 2-3 minutes back to 4.

Started program.exe and changed setting from 4 to 0.4 > Resu

[2016-08-01 10:25] mrlongttvn commented on #700
@logixa pro mode, set it to 40 (i'm not sure why Detective Squirrel set it to 0.4)
im using cp mode and set it to 600 instead

[2016-08-01 10:38] WongKentir opened #708 "Refresh Pokedex Get Error?"
When clicked on refresh button, i get this messages. it's bug?

[17:31:00 ] System.Net.WebException: The remote server returned an error: (403) Forbidden.
   at System.Net.WebClient.DownloadFile(Uri address, String fileName)
   at System.Net.WebClient.DownloadFile(String address, String fileName)
   at PokemonGo.RocketAPI.Window.MainForm.GetPokemonImage(Int32 pokemonId) in C:\Users\Brian\Documents

[2016-08-01 10:50] lYesterdaYl opened #709 "CP mode suggestion"
Hi, could you make a cp mode that really transfer all monster under that cp? for now there are so many low cp rare monsters that need to transfer by hand

[2016-08-01 11:04] Kagelol opened #710 "[Suggestion] Power up x times"
Add a possibility to powerup a pokemon x times (possibly add something that calculates for you howmust dust/candy's it will use and show if it would appear possible)
x to be manual input.

It takes long to power up many times and wait for the bot to reload the pokemon list everytime.
Plus that would kinda be useless everytime.

[2016-08-01 11:06] Kagelol commented on #708
I guess it downloads the pokemon images from an online website, maybe due all to the request that webserver is having issues.

Perhaps its an idea to store the images for the pokemon locally in the project?

[2016-08-01 11:11] raotskuhh commented on #703
do you also have the feeling that higher pokemon (charizard, blastoise, dragonite etc) that are shown on tools like pokeradar and pokevision are not correct or missed by this tool?

[2016-08-01 11:14] suhadi95 opened #711 "[request] Power UP to Maximum"
Hi....
Can you please add a new featur for Power Up Pokemon to Maximum?
thx

[2016-08-01 11:16] bozoweed opened #712 "UPDATE OLD UI MORE POKEMON & EXP/HOUR"
i have update the code for more pokemon/exp per hour
try it enjoy it ^^
https://github.com/bozoweed/Pokemon-Go-Rocket-API-OLD-UI

[2016-08-01 11:31] killaristis commented on #712
can you give me the .exe ? because i dont know how to compile it !!

[2016-08-01 11:31] raotskuhh commented on #712
What did you change?

[2016-08-01 11:31] killaristis commented on #712
if you can upload it in dropbox again !! thx

[2016-08-01 11:37] bozoweed commented on #712
@killaristis i will upload a release directly in github ^^

[2016-08-01 11:37] bozoweed commented on #712
@raotskuhh make more pokemon & exp/hour

[2016-08-01 11:38] bozoweed commented on #712
https://github.com/bozoweed/Pokemon-Go-Rocket-API-OLD-UI/releases

[2016-08-01 11:39] raotskuhh commented on #712
Yeah i read that haha. I meant what did you really change in the code.. The change could be added in this version also :)

[2016-08-01 11:41] bozoweed commented on #712
yes i think i can upload the change but my scritp is differently aboute this github so i can't upload it to him ^^'

[2016-08-01 11:43] Epic81 commented on #97
i had the same problem. if your inbox is full you get a null error. log into your game on your phone or emulator delete a few pokemon and run the bot.

[2016-08-01 11:44] Epic81 commented on #97
how can i edit the white/black list i cant find it in Program.cs

[2016-08-01 11:45] Epic81 commented on #149
i had the same problem. if your inbox is full you get a null error. log into your game on your phone or emulator delete a few pokemon and run the bot. Usually happens when you add eggs to incubate prior to running bot. when the box gets full it bugs out because it still has to add the pokemon from the eggs.

[2016-08-01 11:50] Epic81 commented on #149
what is the best transfer option? Or can you explain the lv or cp options do i put 80 to keep all pokemon with 80% or greater iv?

[2016-08-01 11:53] Epic81 commented on #618
@bozoweed i wanted to thank you. I was able to get the script to run on visual basic. I edited the catch rate to (6000) and edited the items like i wanted. How can i edit the white list of pokemon i cant find it under program.cs or app.config

[2016-08-01 12:04] gangstad1 opened #713 "[Request] Add Bot radius option"
I think a lot of people would love to control the radius of the bot. I personally want to shrink the red box area the bot is working to just be around 4x4 squares. This would lower the amount of pokestops but increase pokemon caught.

[2016-08-01 12:05] killaristis commented on #712
it finds less pokemon than before!!!!!!!

[2016-08-01 12:24] bozoweed commented on #712
look status bar
![capture](https://cloud.githubusercontent.com/assets/11362992/17293926/9a77ac04-57f3-11e6-9961-ed477d56a27a.PNG)
not me change your location and seen it'sd beter

[2016-08-01 12:39] aeon8993 opened #714 "Weird Error"
Hi ,

Today i got this error a few time . Just wondering what causes it

"System.ArgumentException: Destination array was not long enough. Check destIndex and length, and the array's lower bounds.
   at System.Array.Copy(Array sourceArray, Int32 sourceIndex, Array destinationArray, Int32 destinationIndex, Int32 length, Boolean reliable)
   at System.Collections.Generic.List`1.CopyTo(T[] array, Int

[2016-08-01 12:40] killaristis commented on #712
Can you tell me one location for dratini and magickarp?

Στάλθηκε από το smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Αρχικό μήνυμα --------</div><div>Από: bozoweed notifications@github.com </div><div>Ημερομηνία: 1/8/2016  15:25  (GMT+02:00) </div><div>Προς: 1461748123/Pokemon-Go-Rocket-API Pokemon-Go-Rocket-API@noreply.github.com </div><div>Κοιν.: petros killaristis@hotmail.com

[2016-08-01 12:51] bozoweed commented on #712
use the default location in sydney or in center of amsterdam arround the water or go to santa monica around los angeles

[2016-08-01 13:10] WongKentir commented on #708
Solved guys, i think pokemon bag is full.
Remove some pokemon, and pokedex get back to normal. :)

[2016-08-01 13:10] #708 closed, assigned to nobody

[2016-08-01 13:25] killaristis commented on #712
i have the khm in 60 maybe for this i didnt find more pokemon ?

[2016-08-01 13:34] pocki opened #715 "[Suggestion] Randomize Delay"
It could be good to randomize the delays for preventing a ban.
For Example:
var newdelay = (new Random()).Next(delay-1000,delay+3000);

[2016-08-01 13:35] bozoweed commented on #712
use 20 khm

[2016-08-01 13:44] brad0pitt commented on #712
how about mass evolve/transfer @bozoweed ?

[2016-08-01 13:47] bozoweed commented on #712
@brad0pitt go seting and set transfert type as you want after set evolve pokemon

[2016-08-01 13:48] TheWildBananas opened #716 "Not Working"
Updated to the recent version of the bot, now when it starts, I get
`[09:45:48 AM] Your version is 1.7.3.0
[09:45:48 AM] Github version is 1.7.3.0
[09:45:48 AM] You can find it at www.GitHub.com/1461748123/Pokemon-Go-Rocket-API
[09:45:48 AM] Login Type: Pokemon Trainers Club
[09:45:51 AM] ----------------------------
[09:45:51 AM] Name: ***********
[09:45:51 AM] Team: Yellow
[09:45:51 AM] Pokecoin

[2016-08-01 13:49] bozoweed commented on #712
i'm working on new update for make more exp and pokemon catchin stay turn ^^

[2016-08-01 14:12] brad0pitt commented on #712
amazing poke ui, back to default sort style after evo/transfer

what different sort by number and name? in poke ui

[2016-08-01 14:16] bozoweed commented on #712
@brad0pitt sorry i haven't understud :/

[2016-08-01 14:23] bozoweed commented on #712
in next update the default location wath mouved to santa monica and the bot make 13 second to go in other pokestop so you got 80 pokemon/ hour and 24k exp /hour just wait i continue to try it and i will go upload when it's finish ^^

[2016-08-01 14:36] brianzhouzc commented on #715
the bot calculate delay base on distance :D which is pretty random already.

[2016-08-01 14:36] #715 closed, assigned to nobody

[2016-08-01 14:39] brad0pitt commented on #712
if I sort by like name after evo/transfer sort mode back to default
poke ui @bozoweed

[2016-08-01 14:39] pocki commented on #715
Sorry, I mean the other requests to the servers not only the delay between the stops.

[2016-08-01 14:41] brianzhouzc commented on #712
Again, this is the issue section for people to discuss about their error or ideas on the current bot, no a place for you to advertise. Thank you.

[2016-08-01 14:41] #712 closed, assigned to nobody

[2016-08-01 14:41] #710 closed, assigned to nobody

[2016-08-01 15:06] bozoweed commented on #712
@brad0pitt i know this bug i will go fix it later

[2016-08-01 15:11] beaujanglez727 opened #717 "Possible Enhancement: Pause the list so you can review"
One thing I like doing is letting the bot run a while, then scroll through my list and see what was caught. The only problem with that is as it is running its constantly jumping down then back up. If you stop the bot, then it removes everything from the screen. Would be neat to see maybe a pause bot where it just stops running for the time, then you can resume.

I know there are always logs, but i

[2016-08-01 15:13] gijsoman opened #718 "Not catching pokemon."
It seems that mine is not catching pokemon.
It does take poke stops and stuff but for some reason it doesn't catch anything.
Am I doing something wrong?

Thanks in advance.

[2016-08-01 15:21] BillOatman commented on #718
You could try lowering the speed.  I think the default is 60 which can be too fast to catch pokemon.
I think I run mine at 40 which catches almost all of them.

[2016-08-01 15:24] BillOatman commented on #717
I just did this (commented out the line that clears the console).
                    // ConsoleClear();
                    ColoredConsoleWrite(Color.Red, $"Bot successfully stopped.");
                    startStopBotToolStripMenuItem.Text = "Start";
                    Stopping = false;
                    bot_started = false;

[2016-08-01 15:31] onomatopejaeselu commented on #718
They are running away or just there is no 'catching' at all?

[2016-08-01 15:42] MikeTreml opened #719 "MaxRevive Item control"
Max revive should be added to the item that manage Inventory levels.

[2016-08-01 15:42] dexter323i commented on #718
Mine had the same problem: I had only the blue lines in the console (showing the poké stops). I pulled the latest version, and this is working OK now.

[2016-08-01 15:59] aalov007 opened #720 "[Request] New Transfer type."
Add please new transfer type: cp/duplicate. For example if your pokemon more than 1000 cp it will not be transfered, but if you pokemon less than 1000 cp there will be working dulpicate mod. We need it for example to get 2 dragonite or more, but we will have all pokemons that we have in pokedex. I think it will be very good for collectors. Thank you.

[2016-08-01 16:05] alekc opened #721 "Unhandled exception"
[code]

[2016-08-01 16:16] korczyn opened #722 "Pokemon List OutOfMemoryException"
When I'm clicking Refresh below Pokemon list I'm getting
[18:12:23 PM] System.OutOfMemoryException: No memory.
   w System.Drawing.Image.FromFile(String filename, Boolean useEmbeddedColorManagement)
   w System.Drawing.Image.FromFile(String filename)
   w PokemonGo.RocketAPI.Window.MainForm.GetPokemonImage(Int32 pokemonId) w D:\pokemon\PokemonGo\RocketAPI\Window\MainForm.cs:wiersz 1281
   w Pokemo

[2016-08-01 16:17] gijsoman commented on #718
Thanks for the quick reactions. I am going to download the newest version right now.

[2016-08-01 16:20] aconite33 opened #723 "[Feature Request] Ignore Starred Pokemon"
Now that the game allows you to inhibit transfer of pokemon that are starred, can we add pokemon that are starred to an ignore list?

Just tested an IV setting of 90%, and starred pokemon are NOT being transferred, but the bot is trying to transfer them after every catch.
![pokemon](https://cloud.githubusercontent.com/assets/3675886/17300884/586a6970-57e2-11e6-933b-f90ba54c408d.png)

[2016-08-01 16:24] gijsoman commented on #718
@dexter323i Your suggestion worked! Thanks again for all the reactions:),

[2016-08-01 16:32] ykhang opened #724 "question about setting the max item in setting.cs"
private int MaxItemPokeBall => GetSetting() != string.Empty ? Convert.ToInt16(GetSetting()) : 500;
        private int MaxItemGreatBall => GetSetting() != string.Empty ? Convert.ToInt16(GetSetting()) : 500;
        private int MaxItemUltraBall => GetSetting() != string.Empty ? Convert.ToInt16(GetSetting()) : 500;
        private int MaxItemMasterBall => GetSetting() != string.Empty ? Convert.ToInt

[2016-08-01 16:47] alekc opened #725 "[bug] Can't refresh/load pokemon list"
Not sure if that's caused by some pokemon in my collection or something else (protobuff conversion error?)

I can't see any pokemon in window below the log, and when I click on "Refresh" button I get following error:

[code]

I am using ptc login if that's helps.

[2016-08-01 16:55] BillOatman commented on #724
The current code says for example:
If MaxItemPokeBall in the settings is an empty string (meaning it has not been set) make it 500;
But if you notice in the app.config file:
 add key="MaxItemPokeBall" value="100"/
    add key="MaxItemGreatBall" value="100"/
    add key="MaxItemUltraBall" value="100"/
    add key="MaxItemMasterBall" value="200"/
    add key="MaxItemRazzBerry" value="100"/
    add k

[2016-08-01 17:08] billybutterbean commented on #718
I was able to catch for a while and now it just constantly says they ran away.  I didn't change anything and have newest version.

[2016-08-01 17:12] dexter323i commented on #718
Sounds like a soft ban. Did you "jump" too big distance? Do you get anything from poké stops? Unban button works well in this cases. :)

[2016-08-01 17:52] benjaminforras opened #727 "Using lucky egg and raspberries"
Using a Lucky Egg, we have 0 left.
Lucky Egg Valid until: {currentdate} + 30min :)

I don't have any lucky egg nor raspberries but the bot still displaying this message. ( I mean this kind of message for raspberry )

[2016-08-01 18:12] Skabo032 opened #728 "sizable window"
I love this bot, but I would love it even more if you could scale the window to the size you want,

[2016-08-01 18:34] BillOatman opened #729 "[Cosmetic Bug] Mouse enter event on settings page map steals focus"
It took me a while to realize what was causing this to happen.  But if you click in the text box to type in a location on the settings dialog it gets focus as expected.  But if you move the mouse out of the way and happen to move it onto the map control, the focus is taken away from the text box and when you type, nothing happens.  Probably a mouse enter event causing it that should be disabled if

[2016-08-01 18:42] aalov007 commented on #720
If pokemon more than 1000cp it will not be transfered.
If pokemon less than 1000cp then will be transfered only duplicates.

[2016-08-01 18:59] BillOatman commented on #718
Did you try and lower your speed?

[2016-08-01 19:07] Epic81 opened #730 "how to edit pokemon white/black list?"
I would like to know how to edit the white/black list. I want to be able to transfer all weak cp pokemon <200 but retain all pidgeys regardless of cp

[2016-08-01 19:10] Epic81 commented on #727
Use the lucky egg then go to the pokemon tab on the bot and check all your pidgeys choose evolve. You get 1000xp per pidgey and 2000xp for a pokemon you dont have in your pokedex

[2016-08-01 19:13] Epic81 commented on #690
how do you edit the white list? i looked every where with the program but i dont see anything similar to the script above

[2016-08-01 19:16] brianzhouzc commented on #729
Thanks for the report

[2016-08-01 19:18] #724 closed, assigned to nobody

[2016-08-01 19:31] mikkurogue commented on #711
So you can power up to maximum amount of candies+stardust you currently have?

[2016-08-01 19:33] JDeee opened #732 "Only catching 1 pokemon per stop."
Okay, so I was wondering is there any way to catch more than one pokemon per stop?
Just a simple question.

[2016-08-01 19:41] BillOatman commented on #729
Adding this at the bottom of SettingsForm_Load() seems to fix the problem.
gMapControl1.DisableFocusOnMouseEnter = true;

[2016-08-01 20:18] BillOatman commented on #671
I'm looking into a better way to do this now. Everything I have tried, except for the hack above, has failed.  But I just found a demo of the gmap control that looks like it does what we need.  I'll have a look at that and see if anything works in your app.

[2016-08-01 20:35] lYesterdaYl commented on #730
yeah, for current cp mode, it keeps almost all the rare pokemon(magikarp, haunter, magneton, other evolved pokemon, etc).

[2016-08-01 20:41] benjaminforras opened #734 "[Request] Inventory usage"
A menu with the items of our inventory and if we select one we can use it. ( For example insects or luckyeggs ) It would show how many pokeball we have.

[2016-08-01 20:48] BillOatman commented on #671
OK, much better fix :)  todoToolStripMenuItem_Click() becomes:

[code]

[2016-08-01 20:50] Epic81 commented on #732
set value to 8000 in script to wait at a beacon longer. you will catch more pokemon per beacon.

[2016-08-01 20:57] i3acksp4ce commented on #711
you can edit method "PowerUpPokemon" in  MainForm.cs

sample

[code]

[2016-08-01 21:21] ahmetb opened #737 "Do not make rar releases."
Use zip instead. RAR is a proprietary format and is not available on OS X without installing 3rd party applications.

[2016-08-01 21:30] ahmetb opened #738 "What is "force unban"?"

[2016-08-01 21:32] JDeee commented on #732
@epic81 how do I find that? What file is it in?

[2016-08-01 22:05] soshimozi commented on #737
This is a windows application and won't run on OS X anyway without Wine or a VM which isn't running OSX.  This is a PE x86 executable and as such will never run on native OS X.

[2016-08-01 22:06] ahmetb commented on #737
Fair point. I didn't realize earlier. But WinRAR is proprietary software and Windows has support for the open ZIP format. I suggest doing ZIP anyway.

[2016-08-01 22:07] dutch2005 commented on #737
using rar gives better packaging, and keeps the real nubs away ;-) #rar scene style ;-)

[2016-08-01 22:15] soshimozi commented on #737
@ahmetalpbalkan You bring up a great point though.  Since we are using an open source platform to host the projects we should embrace as much open standards as possible.  Though that's a bit antithetic when you think about it since this project is all about reverse engineering a proprietary system :)

[2016-08-01 22:16] ahmetb commented on #737
@soshimozi I think ZIP is very standard whereas RAR is long dead. This is not about open source or freedom. :) It's like shipping TIFF images when there's PNG/JPEG available.

[2016-08-01 22:21] dutch2005 commented on #737
@ahmetalpbalkan I think that realy depends on where your looking almost anything you'd download form a torrent site and/or usenet is rar..

Most sweetest would be a update feature in the program itself, updating automatically by downloading the latest files(and overwriting the old files...)

[2016-08-01 22:23] Gateway753 commented on #738
When you change your location to a far place from the previous one, the game will soft-ban you. Using "Force Unban" the bot will try to get you unban and able to catch pokémon and receive xp and items from pokestops.

[2016-08-01 22:33] Uyauuu commented on #732
The bot is only catching one per stop because there is only one pokemon in range. You can change the searching range in the config I believe, but that will decrease the farming efficiency.

[2016-08-01 22:34] #737 closed, assigned to nobody

[2016-08-01 22:34] soshimozi commented on #737
@ahmetalpbalkan  If it's not about open source then why did you mention proprietary in your first missive?  You sound confused my friend.  You are complaining about packaging - serious.  If it's that hard for you download the source and compile it locally.  That way you don't have to worry about WinRAR or whatever.

[2016-08-01 22:37] ahmetb commented on #738
thanks.

[2016-08-01 22:37] #738 closed, assigned to nobody

[2016-08-01 22:38] ahmetb opened #740 "No lucky eggs?"
When I hit `Use Lucky Egg` it tells me I have none. I just used this to get to Level 12, though. Could it be a bug?

[2016-08-01 22:42] brianzhouzc commented on #740
you used it, so you have non... whats the problem?

[2016-08-01 22:42] #740 closed, assigned to nobody

[2016-08-01 22:44] ahmetb commented on #740
@1461748123  I did not use it. :) Perhaps it'd be good to have an inventory view to debug these issues as well.

[2016-08-01 22:50] dutch2005 opened #741 "Request: Auto Update feature"
Since the tool is under heavy development, it would be sweet, if upon starting latest version could be downloaded..

https://autoupdater.codeplex.com/

[AutoUpdater_alternative.zip](https://github.com/1461748123/Pokemon-Go-Rocket-API/files/394910/AutoUpdater_alternative.zip)
https://autoupdater.codeplex.com/

How to use?

In the program that you want to be auto updateable, you just need to call th

[2016-08-01 22:53] 5PRO5KOMP5 opened #742 "[Suggestion] Make Auto-Start CheckBox"
When start program if you before check checkbox for Auto-Start the program auto start and don't need for additional click on 'Start Bot'.

I made for myself this option, but it would be nice to add in original project this option.

![gggss](https://cloud.githubusercontent.com/assets/10964925/17311411/7afcad7c-584b-11e6-8c05-7407fe6b804b.jpg)

[2016-08-01 22:55] dutch2005 commented on #742
If you submit (pull request) the code ima sure it can be implemented

[2016-08-01 22:55] Gateway753 opened #743 "[Question] Have anyone used this bot and PokeSniper2 at the same time? Do we get softbaned?"

[2016-08-01 23:03] Uyauuu commented on #743
I don't think you can login both at the same time.

[2016-08-01 23:39] Kidades commented on #742
I'd like this too!

[2016-08-01 23:51] tkup09 opened #744 "Error Codes"
[18:45:06 PM] ArgumentOutOfRangeException - Restarting
[18:43:50 PM] Null Refference - Restarting

I'm getting these pretty often? Any idea what they or how to fix them? I'm pretty new to this and don't know how to compile the code so I'm using a .exe version.

[2016-08-01 23:53] brianzhouzc commented on #741
Thanks, will definitely​ consider this solution

[2016-08-02 00:00] brianzhouzc commented on #690
This only works with the option "transfer all", so thats why

[2016-08-02 00:00] #690 closed, assigned to nobody

[2016-08-02 00:03] 5PRO5KOMP5 commented on #744
I also getting Null Refference - Restarting but after transferring some pokemons (make space) its start normal working.

[2016-08-02 00:04] #693 closed, assigned to nobody

[2016-08-02 00:14] ghost commented on #720
Use the "TransferCPThreshold" @aalov007

[2016-08-02 00:22] pocki commented on #722
Duplicate #698
Delete everything in sprites folder and restart.
Its a problem with a image file

[2016-08-02 00:25] Gateway753 commented on #743
@1461748123 Any chance of including PokeSniper2 on the bot?

[2016-08-02 01:39] #650 closed, assigned to brianzhouzc

[2016-08-02 01:39] #640 closed, assigned to brianzhouzc

[2016-08-02 01:39] #729 closed, assigned to nobody

[2016-08-02 01:39] #636 closed, assigned to brianzhouzc

[2016-08-02 01:39] #671 closed, assigned to nobody

[2016-08-02 01:39] #682 closed, assigned to brianzhouzc

[2016-08-02 01:39] #673 closed, assigned to brianzhouzc

[2016-08-02 01:42] #700 closed, assigned to brianzhouzc

[2016-08-02 01:46] WongKentir commented on #725
Wait a minutes, reload and open again.
if your bag is full, delete some pokemon. :v:

[2016-08-02 02:12] ahmetb opened #748 "Does it use Great Balls or Ultra Balls?"

[2016-08-02 02:24] hijackerz opened #750 "Xp/hour decrease"
Hello , NO big deal.  just wanna let ya know its less XP/hour with this new update :) its nice doh. better UI.

[2016-08-02 02:32] brianzhouzc commented on #748
yes

[2016-08-02 02:32] #748 closed, assigned to nobody

[2016-08-02 02:33] brianzhouzc commented on #743
;) what do you think
![image](https://cloud.githubusercontent.com/assets/6280864/17315215/c0555284-581e-11e6-82e4-e18054f93176.png) is for?

[2016-08-02 02:35] crushb0n3z opened #751 "always restart login"
this always restart login and decrease for xp and catch pokemon/hour
for version 1.7.3.1

[2016-08-02 02:52] godofredo86 opened #752 "[Suggestion] Add a new option in the tranfer type option, iv and/or cp."
To leave pokemons in the gyms or to trick fools when the trades are eneabled, we need high cp and rare pokemon (the high evolutions with good cp that we cach in the wild probably wouldn't have good iv's), and we need high iv pokemon for competitive resons, with the iv and/or cp transfer option we should have the two of them, we choose a thersold for iv and one for cp anrd we are happy with a 97.7%

[2016-08-02 03:21] dominator12 commented on #712
it kept saying on mine null reference
does anyone know how to fix it

[2016-08-02 03:37] DarkenedMatter opened #754 "Is this the same bug as my last one?"
[22:36:13 PM] System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: index
   at Google.Protobuf.Collections.RepeatedField`1.get_Item(Int32 index)
   at PokemonGo.RocketAPI.Extensions.HttpClientExtensions.<PostProtoPayload>d__2`2.MoveNext() in C:\Users\Brian\Documents\Visual Studio 2015\Projects\Pokemon-Go-Rocket-API\PokemonGo\RocketAPI\Extensi

[2016-08-02 03:53] lingfengchencn opened #756 "ArgumentException in RouteOptimizer,line 47"
Hi, I alway got this exception

I tried to fix it ,but i don't code C# for a long time;

Log:

*************\* Exception Text **************
System.ArgumentException: The length of the destination array is not enough. Check the lower limit destIndex and length of the array.
   System.Array.Copy(Array sourceArray, Int32 sourceIndex, Array destinationArray, Int32 destinationIndex, Int32 length, Bool

[2016-08-02 03:58] wsalim1610 commented on #689
I still don't understand which version are you referring to. There is no readsettings.cs in our project. There is also no maxPokemonsOnInventory as far as I know. Are you sure you are not mixed up with some other bots?

[2016-08-02 04:07] wsalim1610 commented on #730
If you use "CP" as your transfer type, you can put a CP threshold from which the bot will decide to transfer your pokemon. You can fill it to 200 if you want the anything under 200 to be transfered. For the current implementation, only Eevee and Magikarp will be kept regardless of its CP.

[2016-08-02 04:14] Epic81 commented on #730
Thanks. I currently have my settings to cp 200 but my question is where is the script located to edit the pokemon that are kept. I want to keep Magikarp and Pidgeys only I have all eevee over 1500 already.

[2016-08-02 04:17] terry3041 opened #757 "not showing up the xp/h"
![image](https://cloud.githubusercontent.com/assets/19218518/17316915/d56fb326-58aa-11e6-9c8b-a4e1f6bb468a.png)
sometimes it does, but sometimes it just disappears.

[2016-08-02 04:17] Epic81 commented on #754
this error occurs when your near water the bot hops into the water and gives you an error. Just click stop bot, go to settings and move the location over more to the left so your farther away from the water. I say water because i have had this error occur to me only when i teleport near water and the bot jumps where there is no pokemon or stops.

[2016-08-02 04:19] Epic81 commented on #744
Pokemon inbox is full even if in bot program it says its not. This happens when your eggs finish incubating and theres no room in storage.

[2016-08-02 04:21] ahmetb opened #758 "New transfer strategy?"
It looks like as you level up, if your transfer strategy is `IV Duplicate` your Clefairy 650 CP will get transferred because you have a 153 CP one with a better IV.:

[code]

I think a strategy like below would work better:
- Sort each pokemon type by CP
- Take top 5
- Sort them by perfection
- Take top 2-3
- Transfer the rest

It clearly looks like `IV Duplicate` option is not very useful. Someth

[2016-08-02 04:25] Dark-Developer commented on #758
The way mine is set up now is to transfer all but the highest IV while also keeping any with IV over 90%

[2016-08-02 04:26] ahmetb commented on #758
@dark-developer doesn't sound bad. Do you mind sending your patch upstream? I'm trying the "duplicate" mode now. Maybe it is better.

[2016-08-02 04:32] wsalim1610 commented on #730
It's on MainForm.cs. You can search for a function called TransferAllWeakPokemon. The list is there.

[2016-08-02 04:35] Ethan943 opened #759 "Null Reference - Restarting"
Hi I keep getting this error and I don't know why, how do I fix it?

[2016-08-02 04:44] wsalim1610 commented on #732
Unfortunately, our bot currently doesn't have that searching range setting.

[2016-08-02 05:00] Ethan943 commented on #759
I believe it was because I was in a glitched spot or something. Problem fixed. :)

[2016-08-02 05:40] Seinjke commented on #734
Add the item-maxrecive. inventory SETUP perfect to add

[2016-08-02 05:41] Seinjke commented on #719
Add the item-maxrecive. inventory SETUP perfect to add

[2016-08-02 05:45] Epic81 commented on #730
Awesome thanks.

[2016-08-02 05:56] Epic81 opened #760 "Edit Recyler code for items"
@bozoweed "the recycler is in window\app.config
don't tuch the setting.cs"
can you please explain.
I have looked everywhere and cant find anything under app.config

However under setting.cs i can see the values of my items. I changed some values and all hold except the
razzberries I had 50 but when I changed the value in setting.cs to 100 and when i ran the bot I had no razzberries?

[2016-08-02 05:56] Epic81 commented on #760
![screen shot 08-01-16 at 10 22 pm](https://cloud.githubusercontent.com/assets/20747949/17318443/32314eb4-583b-11e6-9859-97f3768b908d.PNG)
![screen shot 08-01-16 at 10 54 pm](https://cloud.githubusercontent.com/assets/20747949/17318444/324cd4fe-583b-11e6-861f-1a2380148277.PNG)

[2016-08-02 05:57] canmanita opened #761 "add auto incubating"
great work! awesome build. you should put auto incubating so that u take advantage of all the steps you take.
keep up the good work! ;)

[2016-08-02 06:00] brianzhouzc commented on #757
Thanks for reporting

[2016-08-02 06:01] brianzhouzc commented on #759
Server side issue, sorry but can't help :/

[2016-08-02 06:01] Epic81 commented on #730
Here are some pics of the process for everyone else to see.
Comes already with a built-in list just remove the // from the PokemonId.(PokemontoKeep).
![screen shot 08-01-16 at 10 58 pm 001](https://cloud.githubusercontent.com/assets/20747949/17318522/de62e116-583b-11e6-866e-f4a9bb76b579.PNG)
![screen shot 08-01-16 at 10 58 pm](https://cloud.githubusercontent.com/assets/20747949/17318525/de674fd0-5

[2016-08-02 06:01] #759 closed, assigned to nobody

[2016-08-02 06:02] brianzhouzc commented on #754
Thanks for reporting

[2016-08-02 06:07] Epic81 commented on #759
Pokemon Inbox is full delete some pokemon.
Even if your bot says 248/250 box is still full because of eggs hatched.
Run bot with the catch pokemon option disabled.
Delete 2 or 3 pokemon.
Stop bot and Rerun with catch pokemon option.

[2016-08-02 06:10] Epic81 commented on #761
Also can you add a function to view the pokemon moves. I deleted some pokemon based on cp and iv values but when i evolved them they had bad moves :/
Manual option to delete items in inbox would be great too.
Once again thanks to the creator of this bot and the people that keep fixing the bugs and making it better.

[2016-08-02 06:13] KurroK opened #762 "Null Refference & error country，area"
a part of log：
[13:55:17 下午] PokeStop: 東京スターベース, XP: 50, Items: 3x PokeBall
[13:55:28 下午] Moving player location to Lat: 35.7028384976053, Lng: 139.775471810696
[13:55:29 下午] Null Refference - Restarting
[13:55:29 下午] Login Type: Google
[13:55:35 下午] ----------------------------
[13:55:35 下午] Name: #￥%@#￥￥(i have hidden my id name : ) )
[13:55:35 下午] Team: Neutral
[13:55:35 下午] Stardust: 200

[13:

[2016-08-02 06:15] elffish commented on #728
Can't agree more. I thought the right bottom corner is sizable but not.

[2016-08-02 06:32] Epic81 commented on #757
You can only view the xp/hr and pokemon/hr when you have the window maximized

[2016-08-02 06:36] Epic81 commented on #762
Your Pokemon Inbox is full delete some pokemon to continue. Dont worry about the country or area saying error mine says that too

[2016-08-02 06:44] aalov007 commented on #720
It will take a long time to write more than 100 pokemons name in the whitelist, it will be easier if there will be that function @imnaeng

[2016-08-02 06:44] Epic81 commented on #734
Would it be to difficult to add a drop down menu option with the ability to edit your items.
Example
Items:
Pokeballs: Min 1 Max 100
Current Pokeballs in Bag:10
Use Pokeballs for Pokemon CP<200

Great Ball:Min20 Max 100
Current Great Balls in Bag: 30
Use Great Balls for Pokemon CP >200

Etc....
It be great if we could change the values of when a certain ball should be used just like you have a raz

[2016-08-02 06:45] UtahC commented on #760
Pull the lastest code then you will see that.

[2016-08-02 06:50] Epic81 commented on #734
It should be a settings option because as your lvl increases the pokeballs become useless I am lvl 26 and I get more failed to catch pokemon now with pokeballs then ever. I would like to use more great balls now and only use pokeballs when a weak pokemon cp <200 appears. Pokeballs work great up till lvl 20 then you get more pokemon fleeing.

[2016-08-02 07:00] Epic81 commented on #760
where do i pull the latest code from?

[2016-08-02 07:00] eXhausted commented on #695
I'm sure that is not because of distance. Here is the log:

http://pastebin.com/uwayBhkQ

[2016-08-02 07:10] UtahC commented on #760
if you dont know how to use git, editing those integers in ItemRecycleFilter will be effective too.

[2016-08-02 07:14] Epic81 opened #767 "need the lastest source code"
can some one upload the latest source code with all the pull request integrated.
I am currently using the old gui version and cant find the new one with the map on the side.
My version doesnt have the the recycler  in window\app.config
its found in the setting.cs.
Thank you

[2016-08-02 07:27] Epic81 commented on #718
Unban and set speed to 20-25  not recommended using speeds faster than that. You get soft banned constantly if you go higher.

[2016-08-02 07:29] Uyauuu commented on #767
If this is what you mean, go to code => select master branch => clone and download => download zip

[2016-08-02 07:57] Epic81 commented on #767
@Nyannnn thanks :)

[2016-08-02 08:03] brianzhouzc commented on #762
its just an api limit, doesn't​ matter :D

[2016-08-02 08:03] #762 closed, assigned to nobody

[2016-08-02 08:05] #767 closed, assigned to nobody

[2016-08-02 08:06] brianzhouzc commented on #751
use the latest build 1.7.3.2

[2016-08-02 08:06] #751 closed, assigned to nobody

[2016-08-02 08:35] WaterBottleEvian commented on #743
Should work if the distance between the PokeSniper Base and your atm farming radius isn't more than like 30 meters - so basically useless.

What @1461748123 probably is going to do is, that the Sniper Base is always refreshed with your farming/pokestop position. And while you snipe the farming bot is paused to not hop large distances.

[2016-08-02 08:47] crushb0n3z commented on #751
Ok thanks..
On Aug 2, 2016 3:06 PM, "Brian" notifications@github.com wrote:

[2016-08-02 09:12] brianzhouzc commented on #760
you can change them in config file

[2016-08-02 09:12] #760 closed, assigned to nobody

[2016-08-02 09:13] alekc commented on #761
+1

[2016-08-02 09:32] Gateway753 commented on #743
Yes, like NecroBot does i know. So, I hope you can do it !

[2016-08-02 09:33] raotskuhh commented on #761
For this i think we need the newer FeroxRev api version. Im testing this

[2016-08-02 09:39] mikkurogue opened #772 "Refresh list shows array count not the name of pokemon"
see screenshot:https://gyazo.com/407a54cd92d6984ac8086723508ff971

[2016-08-02 09:40] suhadi95 commented on #711
thx all

[2016-08-02 09:41] flabberdad69 opened #773 "ADD ITEM DELETE."
Add Something Where You Can Delete Items Like Potions, Pokeballs ext.

[2016-08-02 09:42] alekc commented on #761
There is a closed issue on FeroxRev api version with an example of code
https://github.com/FeroxRev/Pokemon-Go-Rocket-API/issues/80

Not sure if those calls are present in the current api version

[2016-08-02 09:42] mikkurogue commented on #773
It does this automatically

[2016-08-02 09:45] delsin94 opened #774 "Wish: Transfere all pokemon...."

[2016-08-02 09:46] #774 closed, assigned to nobody

[2016-08-02 09:46] flabberdad69 commented on #773
ik but it keep some items people may not want and bag gets full pretty fast

[2016-08-02 09:47] raotskuhh commented on #761
Jep thats what i mean but these calls arent present in the api version that is being used in this project.

[2016-08-02 09:50] delsin94 opened #775 "Wish: Transfer all pokemons..."
I have a feature request.

Please add a black/white List (see screenshot) link: https://mega.nz/#!89M2nbzR!QY9RuW4MlN6v1f2uLIR8MPH3RrEYr9vtRl2_UPTR_3g

from the bot link: https://mega.nz/#F!op8ESYjK!VeidZ6gZz5h_gJDRfyDnEg

Also please made the bot fast as the bot from the Link. You can copy the important code because the guy did the same with your code. And please it takes so long every day to tra

[2016-08-02 10:01] flabberdad69 opened #776 "Pick What You Want?"
Make something you can pick witch pokemon you want to catch like if your trying to get.
EXAMPLE:
rattata  -  dont catch
spearow  - dont catch
eevee -catch
pidgey -catch
dratini - catch
but make it like check boxes.. would be really nice

[2016-08-02 10:04] Epic81 commented on #775
download the old gui pokemongo rocket api that bozoweed uploaded in the discussion here:
https://github.com/1461748123/Pokemon-Go-Rocket-API/issues/618#issuecomment-236405310.
I run the new latest build to farm but when inbox is full I run bozoweed version and I go to settings uncheck catch pokemon. Go to Pokemon and in this version there is a check box option. Check all that you wish to transfer

[2016-08-02 10:04] mikkurogue commented on #776
I think this is being worked on, but isnt a priority

[2016-08-02 10:08] Epic81 commented on #773
edit script to your liking.
![screen shot 08-01-16 at 10 20 pm](https://cloud.githubusercontent.com/assets/20747949/17325053/55018a80-585e-11e6-88b2-d0b2d037946b.PNG)

[2016-08-02 10:17] flabberdad69 commented on #776
are you like a developer

[2016-08-02 10:18] flabberdad69 commented on #773
yo epic how do i edit script?? what are you using

[2016-08-02 10:23] alekc commented on #725
Thx, it's indeed a coming and going issue ://

[2016-08-02 10:23] #725 closed, assigned to nobody

[2016-08-02 10:30] flabberdad69 opened #777 "Epic81?"
do you have a Skype??

[2016-08-02 10:51] alekc opened #778 "[Feature Proposal] Add option to auto update location in settings"
I think it can be useful to have an option which (when activated) changes location settings when you move your pokemon. That way if the bot is restarted/crashed it will not restart from the beginning point (which is the case right now if I am not wrong).

[2016-08-02 11:48] patgi commented on #778
should be a good option, the app is crashing a lot.

[2016-08-02 12:09] d4nny5 opened #779 "Unable to use Hotmail"
Is there a way to make it possible to use Hotmail account when using the bot. I've managed to use my googlemail but my main account is a hotmail account and it won't accept these log-in details.

Thanks in advance.

[2016-08-02 12:15] darryllan opened #780 "Argument Exception"
I've been using the Necromodified version of this bot for 2 weeks now but since yesterday/today a new error popped up. It has no clear time schedule of when it happends but I have the latest version with MS VS 2015 and after running for a while the GUI minimizes and VS pops up saying this:

https://gyazo.com/14a7bc05617641db13cabfa74c361189

Then the bot is frozen and I have to close and open VS a

[2016-08-02 12:51] BillOatman opened #781 "[Enhancement] Center the main form when the app opens and display version in titlebar"
Add this to the bottom of MainForm()
            this.Text = Application.ProductName + " " + Assembly.GetExecutingAssembly().GetName().Version;
            this.CenterToScreen();

[2016-08-02 12:54] Kidades opened #782 "Somehow failed to transfer error"
I keep getting a red error:

[14:53:00 PM] Somehow failed to transfer Staryu with 478 CP. ReleasePokemonOutProto.Status was 3

Staryu with 478 CP is just an example, I keep getting it for many pokemon. I have it set to transfer everything below 90% IV.

[2016-08-02 13:23] flabberdad69 opened #783 "its it not working for anyone else??"
keep saying not pokestops by

[2016-08-02 13:30] alessio-perugini opened #784 "Randomize the shots"
Randomize the action of throwing pokeballs, using random function and set as minium value the wrost shot possible (but still hitting the target) and as maxium value the perfect shot

[2016-08-02 13:33] terry3041 commented on #783
it is working for me :)

[2016-08-02 13:33] alessio-perugini commented on #784
we can do something like this:
Rng.NextInRange(session.LogicSettings.ThrowAccuracyMin, session.LogicSettings.ThrowAccuracyMax)*
                        1.85 + 0.1; // 0.1..1.95
                    spinModifier = Rng.NextDouble() > session.LogicSettings.ThrowSpinFrequency ? 0.0 : 1.0;
                }

[2016-08-02 13:33] flabberdad69 commented on #783
] No PokeStops to visit here, please stop the bot and change your location.
[06:33:05 AM] No nearby useful locations found. Please wait 10 seconds.
[06:33:15 AM] Login Type: Google

[2016-08-02 13:34] #783 closed, assigned to nobody

[2016-08-02 13:34] darryllan opened #785 "Slower?"
I've been looking back some old chats of me and a pal and saw that the XP/Hour has really REALLY dropped incredibly.

We used to go to Amsterdam with the Bot and get like 80-120K Xp/hour... Now it has become IF YOU'RE LUCKY in SYDNEY 25k xp/hour... What happened? I've tried different locations, different speeds and all but nothing seems to help...
this is the result im getting right now: https://g

[2016-08-02 13:35] flabberdad69 opened #786 "HELP!"
[06:34:28 AM] Name: flabberdad69
[06:34:28 AM] Team: Red
[06:34:29 AM] Pokecoins: 20
[06:34:29 AM] Stardust: 157066

[06:34:29 AM] Latitude: 40.770256
[06:34:29 AM] Longitude: -73.974402
[06:34:29 AM] Country: Error
[06:34:30 AM] Area: Error
[06:34:30 AM] ----------------------------
[06:34:43 AM] No PokeStops to visit here, please stop the bot and change your location.
[06:34:43 AM] No nearby use

[2016-08-02 13:39] BillOatman commented on #786
Change your location in the settings dialog.  You need to be somewhere where there are PokeStops defined.  I usually use universities as they seem to always have a lot defined.

[2016-08-02 13:41] flabberdad69 commented on #786
IM in CENTRAL PARK

[2016-08-02 13:41] dutch2005 commented on #779
You will not be able to do so.. --> game limitation (microsoft account is not a valid authentication method).
Only PTC and google account login is available..

you could make a 2nd gmail account and send all emails to the hotmail.com to fix it? (google login for pokemongo seeems to be more stable..)

[2016-08-02 13:42] flabberdad69 commented on #786
I got it just moved like down the street

[2016-08-02 13:45] terry3041 opened #787 "increasing the farming efficiency?"
will a higher travelling speed increases the farming efficiency?

[2016-08-02 13:48] flabberdad69 commented on #787
i went from 20 to 27 in about 5hrs going 60km

[2016-08-02 13:58] d4nny5 commented on #779
That sucks as my existing account is already level 21 and wanted to continue it's progress. I don't know how i managed to login with hotmail originally. What do you mean regarding the second googlemail account?

[2016-08-02 14:09] collinmrcc commented on #787
What location flabber?

[2016-08-02 14:30] BillOatman commented on #787
Usually slower is better. 20-25 seems to be recommended.  Faster and the Pokemon get away a lot plus can get you softbanned.

[2016-08-02 14:39] flabberdad69 commented on #787
-33.873302  151.211314 in Sydney Australia  @collinmrcc  it has about 250 pokestops

[2016-08-02 14:40] MitsuSan opened #790 "Suggestion: Randomize Query Location"
Probably not good if positions are exact pokestops and others...

[code]

[2016-08-02 14:48] FuatCemOzyazici opened #792 "RazzBerry Setting Bug"
It reads the setting from config file, it is 0.2 in the config file but it reads it as 2 and uses razzberry on every pokemon, please take a look at this.

[2016-08-02 15:29] mrlongttvn commented on #792
increase to 20 and try. i use cp and always set it to 600

[2016-08-02 15:31] mrlongttvn commented on #785
thanks to the new update, it's normal with low xp now.

[2016-08-02 15:33] FuatCemOzyazici commented on #792
20 means 2000%. This is a bug, i am not searching for a setting

[2016-08-02 15:57] ghost commented on #547
@1461748123 Any possibility for an update on this?

[2016-08-02 16:05] BillOatman commented on #790
I like it!

[2016-08-02 16:10] dutch2005 commented on #779
Maybe u used the ptc login feature?

[2016-08-02 16:10] Isoterik commented on #758
@ahmetalpbalkan

with transfer type `Leave Strongest` you basically have what you want. it will keep all with a IV value above 80% unless you dont have found any yet e.g. a Krabby, then it will keep also one below the 80%. but you have to transfer them manually.
what you should not forget, the IV level stays the same no matter what you do with it. so you can max out the CP value of any pokemon if

[2016-08-02 16:12] dutch2005 commented on #784
Good idea, the more human like the bot is, the better it stays hidden from detection...

[2016-08-02 16:20] ahmetb commented on #758
@Isoterik I will try thank you! I think these modes deserve better documentation (possibly in the README?)

[2016-08-02 16:32] BillOatman commented on #792
I just looked and my app.config has it at 0.4 and that's what is used.  So it is reading it out of the config file OK.  You can look at the settings dialog and see what it shows as well, which is correct for me.

If there is an issue, it's probably here:
                    if (ClientSettings.RazzBerryMode == "cp")
                        if (pokemonCP > ClientSettings.RazzBerrySetting)

[2016-08-02 16:37] FuatCemOzyazici commented on #792
Hello, thanks for the answer. I am using Turkish keyboard and we show floats with a comma not with a dot. Comma didn't work for me as well. Every second time I open the settings file, 0.4 turns into 4

[2016-08-02 16:39] mikkurogue commented on #792
Your keyboard should have no influence on floats. In C# floatsare shown with a point ( . ) so you should just fill in 0.4 (or any float number you want)

[2016-08-02 16:43] FuatCemOzyazici commented on #792
OK guys then it's not about me? in config file its 0.4 for, and when i open settings and save, the next time i open settings, I see 4.

[2016-08-02 16:45] BillOatman commented on #792
Most double/float settings allow for , or .  however not this one.  Easy fix however.
In SettingsForm.cs change:
Settings.Instance.SetSetting(razzSettingText.Text, "RazzBerrySetting");
to
Settings.Instance.SetSetting(razzSettingText.Text.Replace(',', '.'), "RazzBerrySetting");

[2016-08-02 16:51] ghost opened #795 "Set Pokeball Level"
Is it possible to set the kind of pokeball used for catching pokemon?
Because I want to keep my best pokeballs and don't want them to get used on 100cp pokemon :/

[2016-08-02 16:53] BillOatman opened #796 "[Code Cleanup] Remove unused debug (?) code"
This code is in SettingsForm.cs, saveBtn_Click() and doesn't do anything.  I suspect it was put there for debugging purposes and never removed.

[code]

[2016-08-02 16:56] a7md0 opened #797 "Suggestion: Option to stop visiting pokestops?"
I would to suggest to add an option in settings to stop visit pokestops (earn items\exp for every pokestop). So the program will only move & catch pokemons without earn items\exp for every pokestops.

This will help to catch more pokemons without levelup faster ...

[2016-08-02 17:02] FuatCemOzyazici commented on #792
it fixed it. thank you, hope the developers can add this quick fix

[2016-08-02 17:10] seriousamy commented on #797
I agree...

[2016-08-02 17:23] BillOatman opened #798 "RazberrySetting field doesn't allow . or , characters to be entered."
Replace existing routine with this

[code]

[2016-08-02 17:45] pgroene commented on #795
the code already chooses the right ball for the right pokemon. If you run the bot you have enough balls to catch all pokemons you find

[2016-08-02 18:04] BillOatman commented on #797
Looking at the code, the bot uses PokeStops as a means to navigate from one place to the next from your selected starting location.  Once the bot, via the RocketApi code, notifies the server of your current location, you have visited the PokeStop.  I believe it would need another means of navigating around.

[2016-08-02 18:12] brianzhouzc commented on #797
I don't see a point there. Higher level let you capture better Pokemon. No idea why you don't wanna flip the stops. I doesn't slow down the capturing process at all

[2016-08-02 18:12] brianzhouzc commented on #798
Thanks for reporting

[2016-08-02 18:47] #792 closed, assigned to nobody

[2016-08-02 19:06] the-mentor commented on #784
+1
I think this is a great idea.

[2016-08-02 19:09] tiranous opened #800 "advanced settings"
sorry for the dump question .. but i cannot find any "settings" file in the bot's folder... where exactly is it?

and where can i find Task.Delay(30) ? bcuz the bot is very slow  (no luck with the search sorry)

[2016-08-02 19:16] raotskuhh opened #801 "Update to new FerovRex version"
Is it possible to update the rocket api to new FeroxRev version?
With that we can easily make auto egg hatching possible :)

[2016-08-02 19:28] Uyauuu commented on #800
Change the speed setting in the Settings. You can find it in the Tool Strip Menu

[2016-08-02 19:28] mikkurogue commented on #800
Depends on what file you're looking at. if you want to change the Task.Delay()

[2016-08-02 19:28] freezea opened #802 "very strange problem"
i have a very strange problem, all of my pokemons (almost 95%) just got away, BUT - im not softbanned (i have exp from pokestops etc.) i have 33lvl and a lot of pokeballs too.. what is this?

[2016-08-02 19:28] Uyauuu commented on #801
Dev is working on that

[2016-08-02 19:34] lilceemoney opened #803 "Suggestion: Selective auto transfer"
So on the list of pokemon there should be a checkbox that when checked the bot will automatically transfer that pokemon. This would be great for farming pidgey candey to level up

[2016-08-02 19:34] freezea commented on #802
solved

[2016-08-02 19:38] BillOatman commented on #802
slowed down your speed? :)

[2016-08-02 19:39] BillOatman commented on #800
Most are in app.config

[2016-08-02 19:41] raotskuhh commented on #801
Cool! :) im trying it myself to but getting stuck on getting mapobjects :(

[2016-08-02 19:43] CJBok opened #804 "Not catching weedles"
It seems like the bot doesn't see / catch Weedles.

[2016-08-02 19:48] Uyauuu commented on #785
You might want to choose a better location. I am getting 42198 xp/hr.

[2016-08-02 19:51] hannemaster opened #805 "[Suggestion] Multiple suggestions, please consider"
- Rename pokemon in the list and ofcourse show current name.
- Make pokemon fav in the list.
- Easy interface to select which pokemon should be excluded from the duplicate transfer option. for example I need all the pidgeys. in the instructions it says something about exclusions put inside program.cs. But I don't have that file.
- exclude specific pokemon from catching.
- checkbox to transfer mult

[2016-08-02 19:52] hannemaster commented on #804
seems to be working here just fine, it sees and catches lots of them. I'm using this version: Beta-1.7.3.2

[code]

[2016-08-02 20:03] yuripesh opened #806 "Error: PokemonInventoryFull"
I'm getting this error right now:

Error: PokemonInventoryFull

It didn't happen before, I don't know why it started happening. BTW, the invenotory is not even full - 241/250. It looks like transferring doesn't work for some reason.

[2016-08-02 20:05] Uyauuu commented on #773
@flabberdad69 download visual studio => open sln file with that => edit

[2016-08-02 20:11] Uyauuu commented on #804
@CJBok Try to adjust the pokemon searching range/location in settings

[2016-08-02 20:12] Uyauuu commented on #803
It's one of the feature already

[2016-08-02 20:17] CJBok commented on #804
Hmmm weird... because the amount of weedles I come across when actually walking is a lot more in ratio compared to pidgeys. But pidgeys I find tons of those. Maybe weedles aren't near pokestops? Because seeing 3 weedles every hours is not that common.

[2016-08-02 20:33] collinmrcc commented on #787
holy shit, @flabberdad69 thanks for the coords, this place is the motherload. You're a legend

[2016-08-02 20:49] darryllan commented on #785
Doesn't matter what location. it just went down so much

[2016-08-02 20:49] lilceemoney commented on #803
How?

[2016-08-02 21:20] #804 closed, assigned to nobody

[2016-08-02 21:34] gorohovart opened #808 "[Suggestion] Support of multiple accounts"
It will be realy usefull.

[2016-08-02 21:40] Epic81 opened #809 "Item Recycle Discard Refresh Rate"
How do i edit the source code so that items are discarded every 5minutes?

[2016-08-02 21:47] Epic81 commented on #777
no, what do you need help with?

[2016-08-02 21:51] Epic81 commented on #809
I found RecycleItemInterval is this where i change the 60 to 1000?

[2016-08-02 21:51] Epic81 commented on #809
![screen shot 08-02-16 at 02 51 pm](https://cloud.githubusercontent.com/assets/20747949/17346656/a3362474-58c0-11e6-8fa8-5cf050f7a8e4.PNG)

[2016-08-02 22:04] collinmrcc opened #810 "QUESTION: Best Place to Farm XP/Pokemon"
looking for the absolute best place to catch them all

[2016-08-02 22:05] Epic81 commented on #810
Type in disneyland,california i get 140 stops. Santa Monica Pier gives me 147 stops. I only use these to locations to farm havent found better yet.

[2016-08-02 22:14] Epic81 commented on #787
Type in disneyland,california i get 140 stops. Santa Monica Pier gives me 147 stops. I only use these to locations to farm havent found better yet.

[2016-08-02 22:16] Epic81 commented on #810
Also go into client.cs and edit line 322 await Task.Delay(9000);
This is the amount of time you should stall per stop. It is recommended to wait a bit as more pokemon appear.

[2016-08-02 22:17] Epic81 commented on #810
![screen shot 08-02-16 at 03 17 pm](https://cloud.githubusercontent.com/assets/20747949/17347354/4a76b12e-58c4-11e6-9f38-02e5895ae8a8.PNG)

[2016-08-02 22:20] killaristis commented on #785
Where you are ?

Στάλθηκε από το smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Αρχικό μήνυμα --------</div><div>Από: Nyannnn notifications@github.com </div><div>Ημερομηνία: 2/8/2016  22:48  (GMT+02:00) </div><div>Προς: 1461748123/Pokemon-Go-Rocket-API Pokemon-Go-Rocket-API@noreply.github.com </div><div>Θέμα: Re: [1461748123/Pokemon-Go-Rocket-API] Slower? (#785) </div><div>
</div>

[2016-08-02 22:37] Recolance opened #811 "Suggestion -> Abuse Incense By System Time"
If possible without needing to do manually, to abuse modifying the system time to increase the time of lucky eggs and incense.

[2016-08-02 23:20] pecrow opened #812 "Only catch pokemons? (No Pokestops - Or atleast priority in finding pokemon)"
Hi, would it be possible to have the character simply move around a given area looking for and catching any pokemon that appears? (I am thinking of start dust)

[2016-08-02 23:28] Kastralis opened #813 "Auto Incubate the Next Egg Once Previous Egg Hatches"
Would it be possible to have a feature to auto incubate the next egg when an egg hatches? That way we can maximize on time traveling distance.

[2016-08-02 23:47] brianzhouzc commented on #811
It is not possible to change lucky egg/incense time. They are server side timer

[2016-08-02 23:50] Uyauuu commented on #813
it will be possible after the next api merge

[2016-08-03 00:31] seriousamy commented on #812
Yeap also looking forward to it...

[2016-08-03 00:32] seriousamy commented on #803
How?
Whitelist or leaveStrongest have disappeared in program.cs...

[2016-08-03 01:15] alwayzgame opened #814 "bulk transfer manually and egg incubate , incense"
bulk transfer manually on top of the refresh page wpuld be good

[2016-08-03 01:19] collinmrcc opened #815 "QUESTION: Optimal Speed for XP and Pokemon per hour?"
Looking for the best speed to capture most Pokemon and XP per hour.

[2016-08-03 01:59] rbrasga commented on #815
It has more to do with where rather than speed. However, the range is 40M, and min refresh time is 5 seconds, so 57.6 kph _might_ be the best, because your circle covers a new area each time. That's probably why the default is 60 kph.

*edit: min refresh time was recently doubled to 10 seconds, which may include a requirement to have the pokemon within 7M for up to 10 seconds (I don't have a sourc

[2016-08-03 02:08] eGeeked commented on #810
If you want MagiKarp and Dratini the best is DisneyWORLD. Just put that in and go with the default spot it drops you. I have 2 maxed out Gyarados and over 1500 magikarp candy after 2 days of being there.

[2016-08-03 02:11] Zm0n commented on #814
There used to be a bulk transfer, in a sense anyways by ctrl + click, but when he redid the GUI, it stopped allowing ctrl + clicking for some reason.

I'll +1 the request, would like bulk transfer to come back.

[2016-08-03 02:15] brianzhouzc commented on #814
Expect bulk transfer and powerup in the next version!

[2016-08-03 02:15] eGeeked commented on #796
Actually that was there from an early version that kept converting the periods in the lat and long to commas. That was the work around in place until it was finally fixed. But yes, now it can be removed.

[2016-08-03 02:18] eGeeked commented on #814
@1461748123 Brian could you also put a favorite button on this request? This would allow to quickly favorite a pokemon and prevent it from being wiped out when you choose a different transfer type. Much appreciated.

[2016-08-03 02:29] crushb0n3z opened #816 "[09:28:48 ] Null Refference - Restarting"
always like this in new release
[09:28:48 ] Null Refference - Restarting

[2016-08-03 02:32] Epic81 opened #817 "How can i create a fake account?"
How do you create a pokemon trainer account?
I want to run the bot on a new account but not have the user name set in game?

[2016-08-03 02:43] animesugoi commented on #816
server is curently unstable.. because yesterday it can run without problem

[2016-08-03 02:55] Uyauuu commented on #817
https://club.pokemon.com/us/pokemon-trainer-club/sign-up/
here you go

[2016-08-03 03:08] Epic81 commented on #817
@Nyannnn thanks for your quick response.

[2016-08-03 03:08] #817 closed, assigned to nobody

[2016-08-03 04:00] collinmrcc commented on #815
@rbrasga appreciate it... What's your "goto" location, out of curiosity?

[2016-08-03 04:14] Epic81 commented on #816
your pokemon inbox is full regardless of what the number on screen says. delete some pidgeys or weak lvl pokemon.

[2016-08-03 04:22] animesugoi commented on #815
I use 32km/h because that max speed for haching egg

[2016-08-03 04:25] animesugoi commented on #797
If u dont go to pokestop.. U will run out a pokeball if u use bot for long time

[2016-08-03 05:12] Kidades opened #818 "No nearby useful locations found (banning started?)"
I keep getting this and bot is not working at all.

[2016-08-03 05:14] Epic81 commented on #818
I think we finally got banned lol my account doesnt work in bluestacks or on my phone. no more pokemon or pokestops appear. Any one have a solution?

Solution: I deleted my cache from the app on my phone. Then i used the app and I let it run on my real location with gps and the stops and pokemon indicator came back.

[2016-08-03 05:15] collinmrcc opened #819 "ETA on "Incoming Feature"?"
I am very excited, can we get an estimated arrival on this...?

[2016-08-03 05:36] Kidades commented on #818
Hmm not sure, I can't get on any of the 30 that I have, while the one on my phone works normally. Tried a new account with the bot and it also works. It seems like the banning has started. :(

[2016-08-03 05:42] Epic81 commented on #818
Mine all work now, I only farm in the U.S and on my primary account i only hop in small increments.
Meaning city to city not state to state.
When you restart your account start them in the same state but in a different near by city.
I had an account fail in Houston and i restarted it in San Antonio and it worked.

[2016-08-03 05:55] Epic81 commented on #810
I dont know why it didnt occur to me earlier i entered las vegas and wow theres over 100 stops.

[2016-08-03 05:58] AntonNel opened #820 "Geonames"
I know this is of minor concern, but the reason for it showing an error most of the time:

[code]

[2016-08-03 06:20] Kidades commented on #818
Slightly moving the location has worked, but only for a few minutes, then pokestops stopped giving XP and no pokemon were encountered. After restarting, again getting no useful locations even on the new location.

Will just leave it for now to see if others have these problems as well. But at this point I'm 99% sure banning has started.

[2016-08-03 06:30] MitsuSan commented on #818
Seems this is a protection against overcrowding popular spots or maybe just the server for this area is too busy. Happened to me yesterday as well. Instead slightly move out of this area and all works fine.

[2016-08-03 06:37] ghost commented on #818
Totally working in Paris, don't freak out when you can't log it.
Banning is expected when you bot, it's fair trade but not this time yet. Just don't run around at 60mph 24/24.

Guess this time it's Google map API who has some time out issue, which the bot use.

[2016-08-03 06:42] mostunique88 commented on #810
-33.86882, 151.209296
sydene

[2016-08-03 06:45] Epic81 opened #822 "Bot Bugs out in Seattle"
Seattle washington has to many stop for the bot to handle or what is the problem?
Out of all the locations I have come across this is by far the best giving me 188 stops however it is here that i get the lowest xp/hr and pokemon/hr according to the bottom of the screen.
![screen shot 08-02-16 at 11 25 pm](https://cloud.githubusercontent.com/assets/20747949/17356244/30ffe372-590b-11e6-97ba-183c7394

[2016-08-03 06:46] Epic81 commented on #818
Totally agree dont set your speed to 60 leave it at 20 you should be fine.
@Kidades you need to run the bot for a like 10 min and it will start to pick up speed.
When i first load an account it says no xp or pokemon for about 2 min then the values appear.

[2016-08-03 06:47] mostunique88 opened #823 "only getting xp at pokestop no pokeballs or RazzBerry"
im not banned , and i've changed the config file

[code]

![default](https://cloud.githubusercontent.com/assets/20681689/17356273/27af1b90-595f-11e6-8264-5421382d0045.jpg)
any suggestion
thanks in advance

[2016-08-03 06:50] animesugoi commented on #823
bag is full since max bag is 350 and your value per ball is 500

[2016-08-03 06:55] mostunique88 commented on #823
@animesugoi i have only 177

[2016-08-03 06:56] mostunique88 commented on #823
@animesugoi and only 36 Razz berry

[2016-08-03 07:02] Epic81 commented on #823
you need to have a total of 350 items if you pass this value the bot has problems sorting thru items.
heres how i edited my script and it works great. Even tho i passed the 350 the pokestops dont give alot of ultra balls and i set my recycler interval to 10 so right after a stop i discard what i dont want.
![screen shot 08-01-16 at 10 22 pm](https://cloud.githubusercontent.com/assets/20747949/1735

[2016-08-03 07:08] mostunique88 commented on #823
@Epic81
@animesugoi
my problem i didn't count the revive stuff with the 350 much appreciated

[2016-08-03 07:08] #823 closed, assigned to nobody

[2016-08-03 07:12] yuripesh opened #824 "[Feature Request] Set area to travel"
I think it would be cool if it's possible to set a specific area to farm. This could be useful if you want to catch the specific pokemon (e.g. charmander), but you know only 1 spawn. Now, the area is expanded on each iteration and it's quite difficult to catch the needed pokemon, because when you come to this place it may not be there.

[2016-08-03 07:19] ghost opened #825 "Exception in settings form"
I'm using v1.7.3.2 Release
1. open settings form
2. set transfer type to IV
3. set the IV threshold to 0.8
4. click on save
5. try to reopen the settings form

[2016-08-03 07:27] #781 closed, assigned to brianzhouzc

[2016-08-03 07:35] Epic81 commented on #818
I went ahead and used blue stacks with fake gps to fight a gym by my house i beat it but after when i was going to fight it again i wouldnt let me. I reloaded the app and now the stops and gyms are gone again lol

[2016-08-03 07:36] Uyauuu commented on #822
Run the bot for a while then the value will rise up to what it really is.

[2016-08-03 07:53] brianzhouzc commented on #820
Yeah, we hit 30,000 usage everyday pretty fast :D

[2016-08-03 08:05] Kikoshi opened #826 "Key error Issue ?"
<img>https://gyazo.com/a2de24f20b34d5e07b2b29eca863354d</img>
This is what i obtained from my google account, the ptc account didn't shoot any of these errors.
Seems to also occur when ever i visit a pokestop and it soft-bans you every single time you do as well.
Google account being used.
https://gyazo.com/19b1ccace7cca7e9cb02b09a78bf02c2

Error doesn't show up on v1.7.3.2 Release

[2016-08-03 08:25] raotskuhh commented on #801
Any update on this? Estimate time of arrival?

[2016-08-03 08:46] Kidades commented on #818
@Epic81 It did pick up speed, was getting XP and then suddenly stopped.

Maybe it detects if it's running inside an emulator or a bot and stops working. Have you tried on a real phone?

[2016-08-03 08:59] #772 closed, assigned to nobody

[2016-08-03 09:03] hannemaster opened #828 "[Bug] Refresh button and Start Bot button."
When you click the "Refresh" button in the pokemon list when the bot is not started, the bot will start. But the "Start Bot" button does not change to "Stop Bot".

[2016-08-03 09:24] Epic81 commented on #818
yeah i tried about an hr ago i couldnt see any pokestops or gyms. It is now 2 hrs later and I can see them on my phone now. I am not going to run my main account any more until later today when I can hit a real pokestop and gym.
I am going to try another account on blue stacks with fake gps as well as nox app player and post results.
I have one bot running so far so good. I was doing some research

[2016-08-03 09:50] ghost opened #829 "Recycler Addon"
Add in MaxRevives... it just clogs up my items :/

[2016-08-03 09:55] MitsuSan opened #830 "Suggestion: 1 second dismiss timer for "pokemon transferred" window"

[2016-08-03 10:16] flabberdad69 opened #832 "BEST FARMING LOCATION?"
ANT REALLY GOOD FARMING LOCATIONS??

[2016-08-03 10:18] rayhvh opened #833 "Default raspberry setting?"
[12:17:06 ] Encounter a Weedle with 185 CP and 18% IV
[12:17:09 ] Using a Razz Berry, we have 0 left
[12:17:11 ] Poke Ball is being used

this is the default? *(got an 71% weedle)

[2016-08-03 10:19] rayhvh commented on #832
Caps lock city I heard is pretty neat.

[2016-08-03 10:21] rayhvh commented on #814
Also "power up till max possible" ?

[2016-08-03 10:32] hannemaster commented on #833
the default is razzberry mode: Probability and setting 0.4. However there was a bug that turned this into 4 because "." or "," was not accepted. which means it would always use a berry. Not sure if it has been fixed but to be sure I'm using the cp razzberry mode. and setting to 300.

[2016-08-03 10:37] flabberdad69 opened #835 "Any Way to Pick?"
Any way to pick witch pokemon i wanna release??
i only want pidgeys

[2016-08-03 10:38] hannemaster commented on #830
Why?

[2016-08-03 10:42] hannemaster commented on #829
It's in the config file, I've set it to 0 for myself
`<add key="MaxItemRevive" value="0" />`

[2016-08-03 10:47] Nackenkelle opened #836 "[Feature Request] Multilanguage Interface"
can you add multilanguage like german, spain, french and russian?

[2016-08-03 10:56] Epic81 opened #837 "IV/CP Duplicate Discard Option"
Will my favorite starred pokemon be discarded also?
I ask because I have several arcanine that I use dont want them to get erased and end up with only two.

[2016-08-03 11:29] rayhvh commented on #837
it wont discard favorites

[2016-08-03 11:36] tobyhinloopen commented on #835
Dear god, he only wants pidgeys...

[2016-08-03 11:55] MitsuSan commented on #830
Should be obvious: Do not want to click away every time.
Just trolling or what?

[2016-08-03 11:59] hannemaster commented on #830
Sorry, I misunderstood because I'm using the latest beta build which does not have a confirmation window that the pokemon has been transferred. I thought you meant the "are you sure you want to transfer?" window.

[2016-08-03 12:07] ghost commented on #829
@hannemaster There's Revives and Max Revives in the game, did you not read.

[2016-08-03 12:19] hannemaster commented on #808
for now you could just copy the folder and open the program again. change settings and start.

[2016-08-03 12:30] yuripesh commented on #830
I have just commented the code line which shows this dialog. You can easily find it using the search by the text of the message.

[2016-08-03 12:49] RyanForrester opened #838 "[13:48:51 PM] Google.Protobuf.InvalidProtocolBufferException: SkipLastField called on an end-group tag, indicating that the corresponding start-group was missing"
[13:48:51 PM] Google.Protobuf.InvalidProtocolBufferException: SkipLastField called on an end-group tag, indicating that the corresponding start-group was missing
   at Google.Protobuf.CodedInputStream.SkipLastField()
   at PokemonGo.RocketAPI.GeneratedCode.Response.MergeFrom(CodedInputStream input) in C:\Users\Ryan\Downloads\Pokemon-Go-Rocket-API-1.7.3.2\Pokemon-Go-Rocket-API-1.7.3.2\PokemonGo\Roc

[2016-08-03 13:47] gorohovart commented on #808
#839 should help to use multiple accounts. You can start multiple programs with configs you need.

[2016-08-03 13:49] BillOatman commented on #730
I made a change to make this process a bit easier for those that aren't comfortable making code changes. This moves the selection process out of the code and into the app.config.  The next logical step would be adding something to the settings dialog.

App.config stuff doesn't copy paste well here so I attached a file to this post with those changes.
[app.config changes.txt](https://github.com/146

[2016-08-03 14:18] soshimozi commented on #801
I've been using FerovRex version which is much more OOPish.  However, I've noticed that it doesn't do as well as this version for some reason in finding pokemon.  I run the same code for each version (with some minor changes to call the appropriate client class method) and with this version I get about 30% more pokemon per hour than with the FerovRex version.  I'm not entirely sure yet why this is

[2016-08-03 14:33] Bunchhieng commented on #832
Sydney, Australia.  266 PokeStops.

[2016-08-03 14:46] BillOatman commented on #820
I just comment out these lines. Making an unnecessary web service call (twice) just wastes time in my opinion.

[code]

[2016-08-03 15:01] fstubner opened #841 "[Feature Request] Better control over settings"
Entering on behalf of user 'robin'.
This is a screenshot from another bot's settings page.
![fb7e871fcfea45ceab492170a782b2db](https://cloud.githubusercontent.com/assets/7574753/17370303/6c19b5ae-5993-11e6-8919-59ffe58981df.png)

Quoted from user 'robin':
so we can do more settings in the bot itself
like choose what pokemon we wont wanne catch
what pokemon we want te evolve
there trensfer seting
l

[2016-08-03 15:10] Ravi116 commented on #838
i have Release-1.7.3.2 and every time i try to log in i am getting this message so can anyone explain what it is indicating ?
[18:00:38 PM] Login Type: Google
[18:00:41 PM] Google.Protobuf.InvalidProtocolBufferException: SkipLastField called on an end-group tag, indicating that the corresponding start-group was missing
   at Google.Protobuf.CodedInputStream.SkipLastField()
   at PokemonGo.RocketAP

[2016-08-03 15:16] BillOatman commented on #841
I like the 3 lists on the right.  I may implement them if I can figure out the git "pull" thing works if that's ok with the bots fearless leader/developer? :)

[2016-08-03 15:29] BillOatman commented on #828
Also when you press the stop bot button, the button text changes to start instead of start bot.

In MainForm.cs
startStopBotToolStripMenuItem.Text = "Start";
to
startStopBotToolStripMenuItem.Text = "Start Bot";

[2016-08-03 16:48] rbrasga commented on #815
@collinmrcc The Santa Monica Pier was a place of miracles, it's still a great location, but not as populated as it once was.

@animesugoi I'm not sure where you got your information from, but 20kph (~12mph) is the max speed for egg hatching. Regardless, I still use 40kph and my eggs still hatch because 40kph is actually the max speed of the bot, and the bots speed regularly dips in range of the eg

[2016-08-03 16:50] killaristis commented on #832
Best farming location for dratini anyone know ?

Στάλθηκε από το smartphone Samsung Galaxy.<div>
</div><div>
</div><div>-------- Αρχικό μήνυμα --------</div><div>Από: Bun notifications@github.com </div><div>Ημερομηνία: 3/8/2016  18:42  (GMT+02:00) </div><div>Προς: 1461748123/Pokemon-Go-Rocket-API Pokemon-Go-Rocket-API@noreply.github.com </div><div>Θέμα: Re: [1461748123/Pokemon-Go-Rocket-API] BEST

[2016-08-03 18:10] fstubner commented on #841
All contributions are welcome :)

On Wed, 3 Aug 2016, 18:04 BillOatman, notifications@github.com wrote:

[2016-08-03 18:48] pokemongomylife opened #844 "Help Me"
why no run?

![sin titulo](https://cloud.githubusercontent.com/assets/20822920/17377769/e033ab2e-5980-11e6-8490-7c970dacda4c.png)

[2016-08-03 18:51] BillOatman commented on #844
Did you enter your credentials on the settings page (click on "Settings")?
There is a log file that might give some information, it's in the log directory under where the executable is.
Maybe the server is slow or unavailable.

[2016-08-03 18:53] deadbambi commented on #810
@mostunique88 Ive been to Sydney many times, last time the bot was used at that location there was 261 pokestops, which is great, but theres not many pokemon it seems

[2016-08-03 18:54] brianzhouzc commented on #838
Please use issues instead

[2016-08-03 18:54] #838 closed, assigned to nobody

[2016-08-03 18:54] pokemongomylife commented on #844
If I've done everything . In the morning program worked well but at this time no

[2016-08-03 18:55] BillOatman commented on #730
I attempted to put this change into the beta branch and submitted  a pull request to get it to the main branch.  Hopefully I did it right :)

[2016-08-03 19:41] BillOatman commented on #844
If this is the beta that you are running that could be the reason.  Use the main code not the beta.

[2016-08-03 19:45] JohnStrange commented on #835
I second this. Pidgeys, Caterpies, and Weedles with lucky egg and evo for quick xp boost and minimal candy use is huge. A couple of hours of farming these and you can get thousands of xp. OR you just want 1 type to power up your mon and don't want to waste balls.

[2016-08-03 19:58] Epic81 commented on #818
Has anyone found out the reason for this error?
I run the bot and it works for like 30 min then I get the error. I get soft banned and have to wait for beacons to reappear.

[2016-08-03 20:00] Ethan943 opened #846 "Why am I getting this error?"
![image](https://cloud.githubusercontent.com/assets/20748119/17380111/6bf7efd2-5993-11e6-9167-d32146195c5f.png)

[2016-08-03 20:01] hijackerz opened #847 "None of the bots works.. :/"
got errors and stuff. none bot works :(

[2016-08-03 20:02] hijackerz commented on #832
Central park , New york :) (Y)

[2016-08-03 20:03] Ethan943 commented on #847
Same

[2016-08-03 20:04] animesugoi commented on #847
same

[2016-08-03 20:05] TricKy- commented on #847
PokemonGO just had an update released I believe. So I think the bot needs to be updated first.

[EDIT: Looks like the servers are just down. ](http://www.mmoserverstatus.com/pokemon_go)

[2016-08-03 20:05] Demikakarott commented on #846
I am also having the same error :(
first of all, all the pokestops disappeared then this

[2016-08-03 20:06] animesugoi commented on #846
well same all pkemon stops then work for like 5 minutes and now i get that error message

[2016-08-03 20:10] JunpeiL commented on #847
will wait for the boss to update the bot.

[2016-08-03 20:16] truimagz commented on #847
Same, trying to figure out why myself, hopefully we get input from the geniuses

[2016-08-03 20:17] Lihouf commented on #847
It's can take long

[2016-08-03 20:18] prodigysix commented on #847
log in servers are down that's all.

[2016-08-03 20:20] prodigysix commented on #818
sometimes they just don't load, reload the game.

[2016-08-03 20:23] Lihouf commented on #847
On my phone i just need to do a maj and i can log easy

[2016-08-03 20:25] CJBok commented on #847
Login is back but pokestop are not being loaded. Had the same issue in-game. probably servers are being rebooted

[2016-08-03 20:27] TricKy- commented on #847
@hijackerz I think you should close this issue as it is Niantic's side.

[2016-08-03 20:29] Lihouf commented on #847
@TricKy- I 90% sure it's not a server issue, it's an API MAJ, on GetMapObjects I think

[2016-08-03 20:31] TricKy- commented on #847
@Lihouf I'm not too sure on the workings of the bot, I've been checking the mmoserverstatus.com site and it seems the login servers keep on going down.

[2016-08-03 20:33] highflyer41 commented on #847
I can log in on my bot. but no pokestops are loaded.

[2016-08-03 20:35] truimagz commented on #847
logged back in but no pokestops, can hit them on my phone though

[2016-08-03 20:36] TheBambino commented on #847
Server side changed - Need to update API

[2016-08-03 20:37] Lihouf commented on #847
@TricKy- On android you have just to make a maj and works fine

[2016-08-03 20:39] Bunchhieng commented on #847
Same here. Log in is fine but the bot couldn't find any PokeStops.

[2016-08-03 20:39] Bunchhieng commented on #846
Server side changed maybe, the API need to update as well.

[2016-08-03 20:40] truimagz commented on #847
Anyone have api refference or what changed?

[2016-08-03 20:51] Epic81 commented on #818
The problem is the servers have be crashing, it is not a soft ban and everything works like it should when the servers are up and running. I found this site to check server status. http://www.mmoserverstatus.com/pokemon_go

[2016-08-03 20:52] hijackerz commented on #847
Looks like this now ^^

[2016-08-03 20:53] barrenechea commented on #847
Probably the Niantic API objects has changed, so I guess that protobufs has to be updated maybe?

[2016-08-03 20:56] CJBok commented on #847
@Lihouf can you explain MAJ more in detail? Because I have no idea what that means.

[2016-08-03 20:59] #837 closed, assigned to nobody

[2016-08-03 21:06] droke1 commented on #847
Same here, the program can't detect the pokestop. still waiting the boss to solve this problem.

[2016-08-03 21:07] CD-Manjaro commented on #847
@CJBok = The Media Authoring with Java API

[2016-08-03 21:08] Ray-PoGo-NL commented on #847
Same here. Log in is fine but the bot couldn't find any PokeStops.

23:12:08 ] No PokeStops to visit here, please stop the bot and change your location.
[23:12:08 ] No nearby useful locations found. Please wait 10 seconds
23:31:47 ] ----------------------------
[23:31:47 ] ArgumentOutOfRangeException - Restarting
[23:31:47 ] Login Type: Pokemon Trainers Club
[23:31:49 ] ArgumentOutOfRangeException

[2016-08-03 21:16] daniel228855 commented on #847
[16:49:14 PM] System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.
   at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
   at PokemonGo.RocketAPI.Login.GoogleLogin.<GetAccessToken>d__3.MoveNext() in C:\Users\Brian\Documents\Visual Studio 2015\Projects\Pokemon-Go-Rocket-API\PokemonGo\RocketAPI\Login\GoogleLogin.cs:line 31
--- End of stack tra

[2016-08-03 21:16] JunpeiL commented on #841
where can i got the code?

[2016-08-03 21:30] masterleeballer commented on #847
bot cant find any poke stops.

[2016-08-03 21:31] bl4zevenaar commented on #847
yes error maybe bug or updated from niantic.

[2016-08-03 21:47] Epic81 commented on #847
The servers are having issues. The bot only works when the server is good for login and since the bot has to constantly re login when changing positions you get this error. I am using these to websites to check the server status.
http://downdetector.com/status/pokemon-go
http://www.mmoserverstatus.com/pokemon_go
At this point the bots are no good until the servers are stable.
I have tried bluestac

[2016-08-03 21:51] Epic81 opened #848 "No stops, No gyms, Bot Not working Solved"
The servers are having issues. The bot only works when the server is good for login and since the bot has to constantly re login when changing positions you get this error. I am using these to websites to check the server status.
http://downdetector.com/status/pokemon-go
http://www.mmoserverstatus.com/pokemon_go
At this point the bots are no good until the servers are stable.
I have tried bluestac

[2016-08-03 21:51] ghost commented on #847
Definitely an update issue, my Nox emulator stopped working too because it says the app needs an update (can't update there cuz it says the app isn't compatible with my device).
The game works fine on my phone where I updated the app. (Using the same acc so I'm 100% sure I wasn't banned)

[2016-08-03 21:59] AJRoth commented on #847
So are we thinking that it is still a server instability issue, or an update to the Niantic API to block Pokestop access from the bots? The bot was running fine about 2 hours ago and then suddenly it stopped working.

[2016-08-03 22:01] Epic81 commented on #847
Are you using the latest version 3.7.1 nox player as well as the latest version of pokemon go 0.31.0?
https://www.youtube.com/watch?v=jxZ8iy6GTFo
follow this tutorial and it should work.
I havent come across the update error on this version.
Tho the game does eventually freeze when the servers latency gets to like 500ms so you have to exit pokemon go, refresh the page http://www.mmoserverstatus.co

[2016-08-03 22:04] truimagz commented on #847
Here are my thoughts...

We all updated our app yesterday, and it still works, and so did our bots. So the assumption about a change in the api calls doesn't hold water for me.

Now Niantic did do an increase in server interaction time also during the week, but I've been readin now within the last few hours they doubled it. This wouldn't require an app update or new api call, but it could affect o

[2016-08-03 22:06] koprall123 commented on #847
Give me link download compiled version API 1.3.2 please! cause I have'nt visual studio, it to big size to download

[2016-08-03 22:09] ghost commented on #847
The bottom line is -> game works when using phone or emulator but bots don't work.
What that sounds like to me -> it's not server issues or we wouldn't be able to log in using emulators or phones
What seems to be the logical conclusion->  they did something server side which actually checks your game version before letting you play and that is causing the bots to fail.
Why do I think this -> The 0

[2016-08-03 22:11] koprall123 commented on #847
Give me link download compiled version API 1.3.2 please! cause I have'nt visual studio, it to big size to download

[2016-08-03 22:13] AJRoth commented on #847
Running Release 1.7.3.2 of PokemonGo Rocket API is now displaying No Pokestops to visit here as well as Argument out of range exception. How would running the bot be affected by what version of the game you play on? I'm running the bot on a Microsoft Surface and had it working flawlessly hours ago. All of a sudden, the bot started getting the errors listed above. I have had the latest version of P

[2016-08-03 22:19] ghost commented on #847
@AJRoth Have you tried logging in from an emulator or phone with old version?
The loading bar moves quite a bit before you get the update notification, perhaps the version check is performed after checking login credentials and that's why bot shows your acc data.
I'm no tech wiz but it would make sense to me that in order to emulate human behavior a bot needs to send some sort of info to the serve

[2016-08-03 22:22] Damon200 commented on #848
Hmm hope tomorrow it will work again :P

[2016-08-03 22:41] truimagz commented on #847
Ok, they changed they way map objects are sent back...

need to figure out how to implement it. Anyone else working on this now that the issue is confirmed?

[2016-08-03 22:43] Epic81 commented on #847
@truimagz try again the servers are up again

[2016-08-03 22:47] truimagz commented on #847
I'm getting same error no pokestops found

[2016-08-03 22:49] Waffletaco commented on #847
Same here poke stops not working =/

[2016-08-03 22:50] AJRoth commented on #847
Same here. I got excited for a moment. Could it be a certain area f the map affected? I'm trying to use the bot in central park.

[2016-08-03 22:51] FatoWw commented on #847
How long does it takes to fix this problem? is there anyone who can anwser that question?

[2016-08-03 22:52] TricKy- commented on #847
@AJRoth I am from England and I am getting the same error.

[2016-08-03 22:53] AJRoth commented on #847
@TricKy- Are you attempted to make it look like your in Central Park, NY?

[2016-08-09 05:45] happysam5 opened #864 "Where did the Pokemon 'tab' go?"
there used to be a pokemon tab in the UI where you could choose what pokemon transfer and what ones evolve etc.

where has this gone? will it be coming back, it was an amazing feature!

[2016-08-09 05:46] happysam5 opened #865 "No pokestops found error"
i keep getting the 'no pokestops found' error, how do i solve this.

[2016-08-09 05:49] QQmornao commented on #864
It's still there, click refresh and it should display them.

[2016-08-09 05:50] QQmornao commented on #865
There is a new flagging system in place, stop using bots for 5 minutes and then try again

[2016-08-09 05:50] happysam5 commented on #864
no not what pokemon you have, it was a tab at the top where you could select what ones it auto evolved etc.

[2016-08-09 05:50] reega opened #866 "UI enchantment suggestion"
i have the most OCD issue ever but i want it fixed... Under the transfer type in the Bot a little help text used to pop up saying what each transfer type did when you scrolled over it, i want that back that saved alot of confusion... just my two cents xoxo

[2016-08-09 06:32] saxenanihal95 opened #867 "suggestion for update option"
you can add update option when the new update is released

[2016-08-09 06:35] saxenanihal95 opened #868 "unhandled exception"
![capture](https://cloud.githubusercontent.com/assets/17348595/17506834/96d74708-5e29-11e6-8425-05413a255893.PNG)
getting this error

[2016-08-09 06:54] shiraori commented on #868
I got the same error whenever I hover my mouse over the pokemon grid area. Also, do notice that the IV% isn't being shown in the grid. It isn't a big deal since we can see the atk/def/sta value, but I might as well mention it here.

This is what I got in the unhanded exception details:

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

**

[2016-08-09 06:57] saxenanihal95 commented on #868
ok thanks

[2016-08-09 07:38] patgi commented on #868
Got the same error, but also when I hover my mouse over the pokemon grid area..

[2016-08-09 07:41] brianzhouzc commented on #864
not even the same bot....

[2016-08-09 07:41] #864 closed, assigned to nobody

[2016-08-09 08:06] Charlieevox opened #869 "BUGS when refresh POKE UI"
Hi Guys... in latest Version i try to refresh Poke UI, and i found 2 prob.
1. IV dont have a result.
2. and have error message.

:)
BTW thankyou guys, good job....

![capture](https://cloud.githubusercontent.com/assets/18612716/17509156/b9f39f70-5e42-11e6-8e75-39ba75096254.PNG)

[2016-08-09 08:21] KarloxLoKo commented on #867
When the bot starts it will show you in their first lines the version number you have and the Github version, also the URL for the update.

[2016-08-09 08:27] duszan777 opened #870 "suggestion for update option [2]"
could you add option with automatic incubator? you know wtah I mean.  i am waiting for it, then i gonna use your bot , not necro

[2016-08-09 08:33] patgi commented on #869
see #868

[2016-08-09 09:09] psychomm opened #871 "Add Favorite pokemon"
Could you add that button? :)

[2016-08-09 11:23] Seven7een opened #874 "solved"
![issue](https://cloud.githubusercontent.com/assets/20890321/17549459/2d8270ba-5ee8-11e6-89ac-80fb3cc1d629.png)

This was me being an idiot and forgetting that I set an app password on my google account and yet I tried to use my normal one. Sorry for bothering.

[2016-08-09 11:24] JustBlu commented on #865
This happens to me aswell. it appears that if im on my home wifi, i cannot see the pokestops, but if i connect to my data hotspot created from my phone, then it works, but only for a short while.

[2016-08-09 12:12] JustBlu opened #875 "Pokestops not yielding"
When the pokestops finally load, i set the bot out to go to them, but it just says i moved there, and states the name of tge stop. i dont get any xp or items. please help.

[22:10:04 PM] Moving player location to Lat: -32.96457, Lng: 151.694519
[22:10:07 PM] PokeStop: Newcastle Harbour Tile Painting
[22:10:18 PM] Moving player location to Lat: -32.964548, Lng: 151.693961
[22:10:22 PM] PokeStop: Ce

[2016-08-09 12:37] shertech28 commented on #875
[20:21:19 PM] No PokeStops to visit here, please stop the bot and change your location.
[20:21:19 PM] No nearby useful locations found. Please wait 10 seconds.

[2016-08-09 12:40] dexter323i commented on #875
Sounds like a soft ban. :( Same here.

[2016-08-09 13:01] qqazwss234 opened #876 "I can't found the stops!?"
I can't found the stops , Is the bot be banned again? But  I heard someone say it still working just need restart bot each 5 mins?

[2016-08-09 13:01] Yiansie commented on #875
![sadface](https://cloud.githubusercontent.com/assets/20927810/17517101/195327a2-5e42-11e6-9aa9-7cfe3ab9a58e.PNG)

[2016-08-09 13:07] qqazwss234 commented on #875
have same problem!

[2016-08-09 13:15] lagoutx commented on #848
It's not a server issue it is the new soft ban system, also please do not use the issue section to post "Solved" posts that is up to the developers to determine.

[2016-08-09 13:16] lagoutx commented on #876
Duplication of issue #865

[2016-08-09 13:18] lagoutx commented on #874
Please leave issues as they are so other users can also learn from them, if you solve it before anyone gets back to you please post your solution incase anyone comes across the same problem.

[2016-08-09 13:38] KurroK opened #877 "[bug report]cannot show iv"
when i caught a pokemon ,iv can be shown,
but iv cannot be shown in the list of pokemon in bag.

[2016-08-09 14:02] #877 closed, assigned to nobody

[2016-08-09 14:24] dutch2005 commented on #867
@KarloxLoKo  ALready suggested such an option, its being worked on

https://github.com/TheUnnameOrganization/RocketBot/issues/741

[2016-08-09 15:14] prajaybasu opened #878 "Unable to login (Ptc) - Not very helpful exception messages"
Version : v1.8.0.0 Release

[code]

BTW My folder is not Brian - Try to remove your personal information - Or better, move away from WinForms :P

[2016-08-09 15:34] seriousamy opened #879 "Mine is barely working..."
First of all, thank you for the good work! I hope we'll soon be able to make it work just like before the changes made by Niantic...

However, right now the windows app. is barely working 5minutes and then it shows "no location found" and a bunch of errors during one hour or so...